<div class="registration">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col">
			</div>

			<div class="col-sm-12 col-md-10" style="padding-top: 24px;">

				<div class="box">
					<h1>
						Account
					</h1>

				


					<div class="row">

						<div class="col-3">
							<img src="https://res.cloudinary.com/vivacare/image/upload/v1552059374/headhsot_neqs9c.png"
								style="width:100%;" />
							<a id="image-upload" href="#">
								<i class="fas fa-edit"></i>
								upload a photo
							</a>
						</div>

						<div class="col-9">
							<div class="row">
								<div>
								</div>
							</div>

							<h5 style="margin-bottom:4px;display:inline;">
								Sam Ullman, MD
							</h5>

							<div>
								Physician (MD, DO)
							</div>

							<div>
								Physician (MD, DO)
							</div>

							<div>
								Physician (MD, DO)
							</div>
						</div>

					</div>

					<div class="text-center">
							<img src="https://res.cloudinary.com/vivacare/image/upload/v1553119044/vivacare-logo.png"
								style="width:225px;" />

								<div>
										(800) 279-2991 | support@vivacare.com
								</div>
						</div>
				</div> <!-- box -->
			</div> <!-- col-sm-8 -->

			<div class="col">
			</div>
		</div>
	</div>

</div>