<div class="registration">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col">
			</div>

			<div class="col-sm-12 col-md-10">
				<div class="box2">
					<h1 >
						Account
					</h1>
					<hr>

				
					<div class="row">
						<div class="col-2">
							<img src="https://res.cloudinary.com/vivacare/image/upload/v1553450375/No_avatar.png"
								style="width:100%;background: grey;max-width:240px;" />
						</div>
						<div class="col-10">
							<div>
								<b style="font-size:18px;margin-right:4px;">
									Eliot Mostow, MD
								</b>
							</div>

							<div>
								Medical Assistant (CMA)

							</div>

							<div>
								Dermatology
							</div>


							<div>
								<b>Professional Specialties</b>:
							</div>
						</div>
					</div>


	
	


				</div> <!-- box -->

				<div class="box2">
					<div>
						<a href="edit-profile.html" class="btn btn-secondary" style="margin-right:6px;">
							Edit Profile
						</a>

						<a href="edit-organization.html" class="btn btn-success" style="margin-right:6px;">
							Edit Organization
						</a>
					</div>
				</div>

				<div class="box2">
					<h4>Embed Code</h4>
					<div class="alert alert-secondary" role="alert">

						<div id="iframe-code" style="font-size:12px;">
						</div>
						<script>
							setTimeout(function () {
								$("#iframe-code").text("<iframe src=\"https://www.vivacare.com/sullmanchange/\" style=\"height:800px;width:100%;min-width:480px;\" frameborder=\"0\"></iframe>")
							})
						</script>
					</div>


				</div>
			</div> <!-- col-sm-8 -->

			<div class="col">


			</div>
		</div>
	</div>
</div>