<div class="registration">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col">
			</div>

			<div class="col-sm-12 col-md-10" style="padding-top: 24px;">

				<div class="box">

						<div class="alert alert-warning">
							<div style="font-size: 21px;font-weight: bold;">
								<a href="#" style="color: inherit;">
								www.vivacare.com/sullmanchange
								</a>
							</div>
						</div>
		
					<div style="margin-bottom:12px;">
						<a href="https://www.vivacare.com/sullmanchange" target="_blank" class="btn btn-primary"
							style="margin-right: 8px;">
							Toolkit
						</a>

						<a href="edit-profile" class="btn btn-success"
								style="margin-right: 8px;">
								Edit Profile
							</a>

							<a href="edit-organization" class="btn btn-secondary"
								style="margin-right: 8px;">
								Edit Organization
							</a>
					</div>

							

				
				

					<div style="margin:10px 0px;">
						
	
							<div>
								<b>Your Patient Education Content:</b> 6
							</div>
		
							<div>
								<b>Patient Views in Last 30 days:</b> 6
							</div>
		
							<div>
								<b>Mobile App Downloads:</b> 6
							</div>
					</div>

					
	
			
	
					<h4>Embed Code</h4>
					<div class="alert alert-secondary" role="alert">
						
						<div id="iframe-code">
						</div>
						<script>
							setTimeout(function () {
								$("#iframe-code").text("<iframe src=\"https://www.vivacare.com/sullmanchange/\" style=\"height:800px;width:100%;min-width:480px;\" frameborder=\"0\"></iframe>")
							})
						</script>
					</div>


				</div> <!-- box -->
			</div> <!-- col-sm-8 -->

			<div class="col">
			</div>
		</div>
	</div>
</div>

