<div class="registration">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col">
			</div>

			<div class="col-sm-12 col-md-10" style="padding-top: 24px;">

				<div class="box">
					<div style="margin-bottom:12px;">
						<a href="https://www.vivacare.com/sullmanchange" target="_blank" class="btn btn-primary" style="margin-right: 8px;">
							Toolkit
						</a>

						<a href="https://www.vivacare.com/sullmanchange" target="_blank" class="btn btn-success">
							External URL
						</a>
					</div>

					<div class="alert alert-secondary" role="alert">
						This is a secondary alert—check it out!
					</div>

					<div>
						<b>Mobile app downloads: 6</b>
					</div>

					<div>
						<b>Vivacare subdomain: <a href="#">www.vivacare.com/sullmanchange</a></b>
					</div>

					<div>
						Mobile app downloads: 6
					</div>

					<div>
						Mobile app downloads: 6
					</div>
				</div> <!-- box -->
			</div> <!-- col-sm-8 -->

			<div class="col">
			</div>
		</div>
	</div>

</div>