<div class="registration">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col">
			</div>

			<div class="col-sm-12 col-md-10" style="padding-top: 24px;">

				<div class="box">
					<h1>
						Add Profile
					</h1>

					<div class="form-group" style="margin-bottom:24px;">
					<label class="form-check-label" for="defaultCheck1">
							<b>Display profile</b>
						  </label>
					<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
							
						</div>
					</div>

					<div class="form-group">
							<label class="my-1 mr-2"><b>Profile Image</b></label>

						<div class="form-row">
							<div class="col-2">

									<img src="https://res.cloudinary.com/vivacare/image/upload/v1553450375/No_avatar.png"
									style="width:100%;background: grey;max-width:240px;" />
			
							</div>

							<div class="col-10">
									<div class="input-group">
										<div class="custom-file">
											<input type="file" class="custom-file-input" id="inputGroupFile01"
												aria-describedby="inputGroupFileAddon01">
											<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
										</div>
									</div>
	
							</div>
		
						</div>
					</div>

					<div class="form-group">
						<label class="my-1 mr-2"><b>Email</b></label>
						<input type="email" class="form-control" placeholder="Email">
					</div>


					<div class="form-group">
						<div class="form-row">

							<div class="col-sm-2">
								<label class="my-1 mr-2"><b>Prefix</b></label>
								<input type="text" class="form-control" placeholder="Prefix">
							</div>
							<div class="col">
								<label class="my-1 mr-2"><b>First</b><span style="color: red;">*</span></label>
								<input type="text" class="form-control" placeholder="First">
							</div>

							<div class="col">
								<label class="my-1 mr-2"><b>Middle</b></label>
								<input type="text" class="form-control" placeholder="Middle">
							</div>

							<div class="col">
								<label class="my-1 mr-2"><b>Last</b><span style="color: red;">*</span></label>
								<input type="text" class="form-control" placeholder="Last">
							</div>

							<div class="col-sm-2">
								<label class="my-1 mr-2"><b>Suffix</b></label>
								<input type="text" class="form-control" placeholder="Suffix">
							</div>


						</div>

					</div>


					<div class="form-group">
						<div class="form-row">

							<div class="col">
								<label class="my-1 mr-2"><b>Profession</b><span style="color: red;">*</span></label>
								<select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
									<option selected>Choose...</option>
									<option value="Physician (MD, DO)">Physician (MD, DO)</option>
									<option value="Nurse practitioner (NP)">Nurse practitioner (NP)</option>
									<option value="Physician assistant (PA)">Physician assistant (PA)</option>
									<option value="Medical Assistant (CMA)">Medical Assistant (CMA)</option>
									<option value="Medical resident">Medical resident</option>
									<option value="Nurse">Nurse</option>
									<option value="Psychologist/Social worker">Psychologist/Social worker</option>
									<option value="Pharmacist (RPh)">Pharmacist (RPh)</option>
									<option value="PharmD">PharmD</option>
									<option value="Physical Therapist">Physical Therapist</option>
									<option value="Office Manager/Administrator">Office Manager/Administrator</option>
									<option value="Other">Other</option>
								</select>
							</div>

							<div class="col">
								<label class="my-1 mr-2"><b>Specialty</b><span style="color: red;">*</span></label>
								<select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
									<option selected>Choose...</option>
									<option value="Allergy">Allergy</option>
									<option value="Cardiology">Cardiology</option>
									<option value="Dentistry">Dentistry</option>
									<option value="Dermatology">Dermatology</option>
									<option value="Endocrinology">Endocrinology</option>
									<option value="ENT">ENT</option>
									<option value="Family Practice">Family Practice</option>
									<option value="Gastroenterology">Gastroenterology</option>
									<option value="Home Health">Home Health</option>
									<option value="Internal Medicine ">Internal Medicine </option>
									<option value="Nephrology">Nephrology</option>
									<option value="Neurology">Neurology</option>
									<option value="Ob-Gyn">Ob-Gyn</option>
									<option value="Ophthalmology">Ophthalmology</option>
									<option value="Pediatrics">Pediatrics</option>
									<option value="Physical Medicine">Physical Medicine</option>
									<option value="Podiatry">Podiatry</option>
									<option value="Psychiatry">Psychiatry</option>
									<option value="Pulmonology">Pulmonology</option>
									<option value="Rheumatology">Rheumatology</option>
									<option value="Surgery (General)">Surgery (General)</option>
									<option value="Urology">Urology</option>
									<option value="Other">Other</option>
								</select>
							</div>

						</div>
					</div>

					<div class="form-group">
						<label><b>About</b></label>
						<textarea class="form-control" rows="6"></textarea>
					</div>

					<div>
						<a href="profile">
						<button class="btn btn-primary">Save</button>
						</a>

						<a href="#">
							<button class="btn btn-secondary">Send Password Reset</button>
						</a>
					</div>
				</div>
			</div> <!-- col-sm-8 -->

			<div class="col">
			</div>
		</div>
	</div>

</div>