<div class="registration">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col">
			</div>

			<div class="col-sm-12 col-md-10" style="padding-top: 24px;">

				<div class="box">
					<h1>Manage Content</h1>

					<div style="margin-bottom:8px;">
						<a href="#">
							All
						</a>
						|
						<a href="#">
							Condition
						</a>
						|
						<a href="#">
							Device
						</a>
						|
						<a href="#">
							General
						</a>
						|
						<a href="#">
							Medication
						</a>
						|
						<a href="#">
							Procedure
						</a>
						|
						<a href="#">
							Test
						</a>
						|
						<a href="#">
							Unassigned
						</a>
						|
						<a href="#">
							List all Titles
						</a>
					</div>


					<table class="table">
						<thead>
							<tr>
								<th scope="col" style="width:10%;">
									Displayed
								</th>
								<th scope="col-9" style="width: 90%">
									Topic
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="text-align:center;">
									<i class="fas fa-check-circle" style="color:#3bb83b;cursor:pointer;"></i>
								</td>

								<td>

									<a data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
										aria-controls="multiCollapseExample1">
										<h5>Acne</h5>
									</a>

									<div class="collapse multi-collapse" id="multiCollapseExample1">
										<div class="">
											<table class="table">
												<tbody>
													<tr>
														<td style="padding:3px;position: relative;border-top:none;">
															<i class="fas fa-check-circle" style="color:#3bb83b;font-size:8px;cursor:pointer;"></i>
															<a href="#" style="position:relative;left:3px;">
																Acne & Diet
															</a>

															<div style="position:absolute;top:4px;right:10px;">
																<a href="#">
																	Edit
																</a>
																/
																<a href="#">
																	Add Tips & Wisdom
																</a>
															</div>
														</td>




													</tr>
													<tr>
														<td style="padding:3px;position: relative;">
															<i class="fas fa-check-circle" style="color:#3bb83b;font-size:8px;cursor:pointer;"></i>
															<a href="#" style="position:relative;left:3px;">
																Acne - Mild
															</a>

															<div style="position:absolute;top:4px;right:10px;">
																<a href="#">
																	Edit
																</a>
																/
																<a href="#">
																	Add Tips & Wisdom
																</a>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</td>
							</tr>

							<tr>

								<td style="text-align:center;">
									<i class="far fa-times-circle" style="color:red;cursor:pointer;"></i>
								</td>
								<td>

									<a data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false"
										aria-controls="multiCollapseExample2">
										<h5>Acne</h5>
									</a>

									<div class="collapse multi-collapse" id="multiCollapseExample2">
										<div class="">
											<table class="table">
												<tbody>
													<tr>
														<td style="padding:3px;position: relative;border-top:none;">
															<i class="far fa-times-circle" style="color:red;cursor:pointer;"></i>
															<a href="#" style="position:relative;left:3px;">
																Acne & Diet
															</a>

															<div style="position:absolute;top:4px;right:10px;">
																<a href="#">
																	Edit
																</a>
																/
																<a href="#">
																	Add Tips & Wisdom
																</a>
															</div>
														</td>




													</tr>
													<tr>
														<td style="padding:3px;position: relative;">
															<i class="far fa-times-circle" style="color:red;cursor:pointer;"></i>
															<a href="#" style="position:relative;left:3px;">
																Acne - Mild
															</a>

															<div style="position:absolute;top:4px;right:10px;">
																<a href="#">
																	Edit
																</a>
																/
																<a href="#">
																	Add Tips & Wisdom
																</a>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</td>
							</tr>

							<tr>
								<td style="text-align:center;">
									<i class="fas fa-check-circle" style="color:#3bb83b;cursor:pointer;"></i>
								</td>

								<td>

									<a data-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false"
										aria-controls="multiCollapseExample3">
										<h5>Acne</h5>
									</a>

									<div class="collapse multi-collapse" id="multiCollapseExample3">
										<div class="">
											<table class="table">
												<tbody>
													<tr>
														<td style="padding:3px;position: relative;border-top:none;">
															<i class="fas fa-check-circle" style="color:#3bb83b;font-size:8px;cursor:pointer;"></i>
															<a href="#" style="position:relative;left:3px;">
																Acne & Diet
															</a>

															<div style="position:absolute;top:4px;right:10px;">
																<a href="#">
																	Edit
																</a>
																/
																<a href="#">
																	Add Tips & Wisdom
																</a>
															</div>
														</td>




													</tr>
													<tr>
														<td style="padding:3px;position: relative;">
															<i class="fas fa-check-circle" style="color:#3bb83b;font-size:8px;cursor:pointer;"></i>
															<a href="#" style="position:relative;left:3px;">
																Acne - Mild
															</a>

															<div style="position:absolute;top:4px;right:10px;">
																<a href="#">
																	Edit
																</a>
																/
																<a href="#">
																	Add Tips & Wisdom
																</a>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</td>
							</tr>



						</tbody>
					</table>


				</div> <!-- box -->
			</div> <!-- col-sm-8 -->

			<div class="col">
			</div>
		</div>
	</div>

</div>