<div style="background: lightgray;">
<div class="container">
  <div class="row justify-content-center">
    <div class="col">

    </div>
    <div class="col-sm-12 col-md-10">

      <div style="text-align:center;padding:34px;background: lightgray;">
          <div style="font-size:8px;">
            
              <a href="phone:8002792991">
                +1 (800) 279-2991
              </a>
              |
              <a href="mailto:support@vivacare.com">
                support@vivacare.com
              </a>
              |
              <a href="https://www.vivacare.com/" target="_blank">
                www.vivacare.com
              </a>
            </div>
        © Vivacare 2019
      </div>

    </div>

    <div class="col">

    </div>

  </div>
</div>
</div>