<div class="registration">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
            </div>

            <div class="col-sm-12 col-md-10" style="padding-top: 24px;">

                <div class="box">
                        <h1 style="text-align:center">
                            <i>Patient Care Toolkit</i>
                        </h1>
                        <div>
                        </div>
                </div> <!-- box -->
            </div> <!-- col-sm-8 -->

            <div class="col">
            </div>
        </div>
    </div>

</div>