<div class="registration">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col">
			</div>

			<div class="col-sm-12 col-md-10" style="padding-top: 24px;">

				<div class="box">
					<div class="row">
						<div class="col-9">
								<h1>
										Rendon Center for Dermatology and Aesthetic Medicine
									</h1>
						</div>

						<div class="col-3">
							<img src="https://res.cloudinary.com/vivacare/image/upload/v1553454890/Rendon_Center_for_Dermatology_and_Aesthetic_Medicine_logo5.png" style="width:100%;"/>
							</div>
					</div>
					
				</div> <!-- box -->
			</div> <!-- col-sm-8 -->

			<div class="col">
			</div>
		</div>
	</div>

</div>