<div class="registration">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col">
			</div>

			<div class="col-sm-12 col-md-10">

				<div class="box2">
					<div class="row">
						<div style="display: block;margin: 0 auto; margin-bottom: 24px;">
							<img src="https://res.cloudinary.com/vivacare/image/upload/v1553454890/Rendon_Center_for_Dermatology_and_Aesthetic_Medicine_logo5.png"
								style="width:100%;max-width:240px;max-height:240px;" />
						</div>

						<div style="text-align:center;">
							<h1>
								Rendon Center for Dermatology and Aesthetic Medicine
							</h1>
						</div>


					</div>

					<hr>
					<div style="text-align:center;margin:14px;">
						<div>
							<a href="#">
								Website
							</a>
							|
							<a href="#">
								Phone
							</a>
							|
							<a href="#">
								Email
							</a>
							|
							<a href="#profiles">
								Profiles <small>(3)</small>
							</a>
							|
							<a href="#locations">
								Locations <small>(3)</small>
							</a>
						</div>
					</div>

					<hr>

					<div>
						<p>
							Morbi laoreet tempus dui eu lobortis. Nullam luctus nibh eu elit pretium venenatis.
							Aliquam ac lectus aliquet, faucibus nunc sit amet, vulputate arcu. Phasellus vel
							sodales dui. Maecenas mollis ac lectus eget consequat. Maecenas luctus condimentum
							tortor, nec elementum purus consectetur a. Aliquam felis arcu, facilisis at
							consequat id, condimentum sed erat. Nulla non enim aliquam leo congue ultricies. Sed
							non nisl sed ex vestibulum feugiat.
						</p>

						<p>
							Pellentesque et lacinia quam. Quisque vestibulum massa tincidunt, tristique dolor
							vitae, lacinia erat. Aliquam ultricies leo quis bibendum luctus. Vestibulum ante
							ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam
							malesuada nisi at erat molestie condimentum. Morbi imperdiet lacinia eleifend.
							Nullam imperdiet erat turpis, id bibendum metus egestas et. Vivamus maximus magna
							vulputate mauris faucibus malesuada. Nunc dignissim tincidunt maximus. Lorem ipsum
							dolor sit amet, consectetur adipiscing elit. Proin eu nisi nunc. Suspendisse lorem
							dolor, convallis eget mattis vitae, porta dictum orci.
						</p>

						<p>
							Etiam fringilla laoreet ipsum vel vehicula. Suspendisse vestibulum, nisi vel ornare
							volutpat, eros libero pellentesque orci, vel imperdiet ante tortor id magna. Aliquam
							vitae placerat elit, eu tincidunt nulla. Cras lacinia facilisis lorem ac maximus.
							Pellentesque viverra quam a arcu blandit ornare. Sed hendrerit a lectus semper
							ornare. Vivamus auctor mauris aliquam neque porta, in molestie ante porttitor. Donec
							eu risus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
							posuere cubilia Curae;
						</p>

					</div>


				</div>
				<div class="box2" id="profiles">
					<h2>Profiles</h2>

					<hr>

					<div class="row">
						<div class="col-2">
							<img src="https://res.cloudinary.com/vivacare/image/upload/v1553450375/No_avatar.png"
								style="width:100%;background: grey;max-width:124px;" />
						</div>

						<div class="col-10" style="max-height:150px;overflow-y:scroll;">
							<h4 style="margin-bottom:4px;">
								Chere Lucas Anthony, MD
							</h4>
							<div>
								Physician (MD, DO), Dermatolgoy
							</div>
							<div style="font-size:10px;max-height:125px;overflow-y: scroll;">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
								tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
								nostrud
								exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							</div>


						</div>
					</div>

					<hr>
					<div class="row">
						<div class="col-2">
							<img src="https://res.cloudinary.com/vivacare/image/upload/v1553450375/No_avatar.png"
								style="width:100%;background: grey;max-width:124px;" />
						</div>

						<div class="col-10" style="max-height:150px;overflow-y:scroll;">
							<h4 style="margin-bottom:4px;">
								Chere Lucas Anthony, MD
							</h4>
							<div>
								Physician (MD, DO), Dermatolgoy
							</div>
							<div style="font-size:10px;max-height:125px;overflow-y: scroll;">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
								tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
								nostrud
								exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							</div>


						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-2">
							<img src="https://res.cloudinary.com/vivacare/image/upload/v1553450375/No_avatar.png"
								style="width:100%;background: grey;max-width:124px;" />
						</div>

						<div class="col-10" style="max-height:150px;overflow-y:scroll;">
							<h4 style="margin-bottom:4px;">
								Chere Lucas Anthony, MD
							</h4>
							<div>
								Physician (MD, DO), Dermatolgoy
							</div>
							<div style="font-size:10px;max-height:125px;overflow-y: scroll;">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
								tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
								nostrud
								exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							</div>


						</div>
					</div>
				</div>
				<div class="box2" id="locations">
					<h2>
						Locations
					</h2>
					<hr>
					<div class="row">
						<div class="col-sm-12 col-md-8">
						</div>

						<div class="col-sm-12 col-md-4">
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5589.982103950628!2d-122.69415722266858!3d45.53038561640715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8f5cdf2f2c3e5629!2sNorris+Dermatology+and+Laser+Northwest!5e0!3m2!1sen!2sus!4v1553818364388!5m2!1sen!2sus"
								width="100%" height="175" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>

					</div>
					<hr>

					<div class="row">
						<div class="col-sm-12 col-md-8">

						</div>

						<div class="col-sm-12 col-md-4">
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5589.982103950628!2d-122.69415722266858!3d45.53038561640715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8f5cdf2f2c3e5629!2sNorris+Dermatology+and+Laser+Northwest!5e0!3m2!1sen!2sus!4v1553818364388!5m2!1sen!2sus"
								width="100%" height="175" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>

					</div>

					<hr>



					<div class="row">
						<div class="col-sm-12 col-md-8">

						</div>

						<div class="col-sm-12 col-md-4">
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5589.982103950628!2d-122.69415722266858!3d45.53038561640715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8f5cdf2f2c3e5629!2sNorris+Dermatology+and+Laser+Northwest!5e0!3m2!1sen!2sus!4v1553818364388!5m2!1sen!2sus"
								width="100%" height="175" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>

					</div>
				</div><!-- box2 -->
			</div> <!-- col-sm-8 -->

			<div class="col">
			</div>
		</div>


	</div>

</div>