<div class="registration">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col">
			</div>

			<div class="col-sm-12 col-md-10" style="padding-top: 24px;">

				<div class="box">

					<h1 style="min-width:440px;">
						Chere Anthony, MD

						
					</h1>
					

					<div class="row">

						<div class="col-2" style="min-width:120px;padding-right:0px;">
							<img src="https://res.cloudinary.com/vivacare/image/upload/v1553450375/No_avatar.png"
								style="width:100%;background: grey;max-width:240px;" />
						</div>

						<div class="col-10">

							<div>
								Physician (MD, DO), Dermatology
							</div>

							<div>
								<a href="organization">
									<i>
										Rendon Center for Dermatology and Aesthetic Medicine
									</i>
								</a>
							</div>

							<div style="font-size:10px;">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
								exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
								dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
								Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
								mollit anim id est laborum.
							</div>
						</div>


					</div>

				</div> <!-- box -->
			</div> <!-- col-sm-8 -->

			<div class="col">
			</div>
		</div>



					
	</div>

</div>