<div class="registration">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col">
			</div>

			<div class="col-sm-12 col-md-9 col-lg-7" style="padding-top: 24px;">

				<div class="box" style="padding: 30px 24px; margin-bottom:0px;">

					<div class="text-center">
						<img src="https://res.cloudinary.com/vivacare/image/upload/v1553119044/vivacare-logo.png"
							style="width:225px;" />
					</div>


					<p>
						Dear Sam, 
					</p>

					<p>
						If you didn't request this, please ignore this email.
					</p>
	
					<p style="text-align:center;">
						<a href="https://vivacare.com/Account/ResetPassword/?resetID=66e15450-17ce-4cdc-aa35-46f927ad737c" class="btn btn-primary" target="_blank" style="padding: 7px 14px;">
							Reset Password
						</a>
					</p>

					<p>
						If you have any questions or encounter any problems logging in, please contact <a href="mailto:">support@vivacare.com</a>.
					</p>

					<div>
						Sincerely,
					</div>

					<div>
						Vivacare Support
					</div>


				</div> <!-- box -->
			</div> <!-- col-sm-8 -->

			<div class="col">
			</div>
		</div>
	</div>

</div>