<div class="registration">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
            </div>

            <div class="col-sm-12 col-md-10" style="padding-top: 24px;">

                <div class="box">
                    <h1 style="text-align:center">
                        Survey
                    </h1>

                    <div class="row" style="width: 400px;margin: 0 auto;">
                        <div class="col" style="text-align:center;font-size:22px;cursor:pointer;">
                            <i class="fas fa-home"></i>
                        </div>

                        <div class="col" style="text-align:center;font-size:22px;cursor:pointer;">

                            <i class="fas fa-hospital-alt"></i>
                        </div>

                        <div class="col" style="text-align:center;font-size:22px;cursor:pointer;">
                            <i class="fas fa-pills"></i>
                        </div>

                        <div class="col" style="text-align:center;font-size:22px;cursor:pointer;">
                            <i class="fas fa-clipboard"></i>
                        </div>

                        <div class="col" style="text-align:center;font-size:22px;cursor:pointer;">
                            <i class="fas fa-mobile-alt"></i>
                        </div>

                        <div class="col" style="text-align:center;font-size:22px;cursor:pointer;">
                            <i class="fas fa-search"></i>
                        </div>

                    </div>

                    <div class="row" style="padding: 40px;">
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                            <div class="topic-box">

                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                            <div class="topic-box">

                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                            <div class="topic-box">

                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                            <div class="topic-box">

                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                            <div class="topic-box">

                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                            <div class="topic-box">

                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                            <div class="topic-box">

                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                            <div class="topic-box">
    
                            </div>
                        </div>

                    </div>

                </div> <!-- box -->
            </div> <!-- col-sm-8 -->

            <div class="col">
            </div>
        </div>
    </div>

</div>