<extends src='layout.html'>
  <block name='content'>
    <div style="background:white;padding:20px;">

      <a href="/manage-organizations">
        Manage All Organizations
      </a>



      <div class="row">
        <div class="col-sm-12">

          <h1 style="margin-bottom:0px;">

            <a href="#">
              <i class="far fa-edit" style="cursor:pointer;font-size:14px;"></i>
            </a>

            Sam's Health Care (1)
            <i class="fas fa-check-circle" style="color: LimeGreen;"></i>

          </h1>

          <div>
            <b>Subdomain:</b> <a href="https://www.vivacare.com/sullmanchange" target="_blank">sullmanchange</a>
          </div>

          <div>
            <b>External address:</b> <a href="https://www.samullman.co/" target="_blank">https://www.samullman.co/</a>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
          <h3 style="margin-top: 20px;border-bottom:2px solid #3d3d3d;padding-bottom:3px;">
            Logo
          </h3>

          <img src="https://res.cloudinary.com/vivacare/image/upload/v1550865483/samples/food/spices.jpg"
            style="width:100%;max-width:125px;margin-right: 5px;margin-bottom:5px;" />
          <input type="file" name="file">
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
          <h3 style="margin-top: 20px;border-bottom:2px solid #3d3d3d;padding-bottom:3px;">

            <a href="#">
              <i class="far fa-edit" style="cursor:pointer;font-size: 14px;"></i>
            </a>
            About


          </h3>

          <div class="form-group" style="margin-bottom:0px;">
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
          <h3 style="margin-top: 20px;border-bottom:2px solid #3d3d3d;padding-bottom:3px;">
            Specialties
          </h3>

          <div style="margin: 2.5px 0px;">
            Dermatolgoy <i class="fas fa-times" style="cursor:pointer;color:#767676;"></i>, Cardiology <i
              class="fas fa-times" style="cursor:pointer;color:#767676;"></i>
          </div>

          <a href="#">
            Add an existing specialty
          </a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
          <h3 style="margin-top: 20px;border-bottom:2px solid #3d3d3d;padding-bottom:3px;">
            <a href="#">
              <i class="far fa-edit" style="cursor:pointer;font-size: 14px;"></i>
            </a>

            CMS
          </h3>

          <div>
            <b>Title</b> Sam Ullman
          </div>

          <div>
            <b>Dowload app</b> <i class="fas fa-check" style="color:#767676;"></i>
          </div>

          <div>
            <b>Organization Name on Library</b> <i class="fas fa-check" style="color:#767676;"></i>
          </div>
          <div>
            <b>About Us</b> <i class="fas fa-check" style="color:#767676;"></i>
          </div>
          <div>
            <b>Website Url</b> <i class="fas fa-check" style="color:#767676;"></i>
          </div>

        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
          <h3 style="margin-top: 20px;border-bottom:2px solid #3d3d3d;padding-bottom:3px;">
            Mobile App Codes
          </h3>

          <div style="margin: 2.5px 0px;">
            sullmanchange <i class="fas fa-times" style="cursor:pointer;color:#767676;"></i>
          </div>

          <a href="#">
            Add a new code
          </a>
        </div>



        <div class="col-sm-12 col-md-6 col-lg-4">

          <h3 style="margin-top: 20px;border-bottom:2px solid #3d3d3d;padding-bottom:3px;">
            CMS Templates
          </h3>

          <div style="margin: 2.5px 0px;">
            Dermatology <i class="fas fa-times" style="cursor:pointer;color:#767676;"></i>,
            Cardiology <i class="fas fa-times" style="cursor:pointer;color:#767676;"></i>,
          </div>

          <a href="#">
            Add an existing template
          </a>
        </div>


        <include src="ManageOrganization/ProfileTable.html"></include>
        <include src="ManageOrganization/LocationTable.html"></include>


        <div class="col-sm-12 col-md-6 col-lg-4">
          <h3 style="margin-top: 20px;border-bottom:2px solid #3d3d3d;padding-bottom:3px;">
            <a href="#">
              <i class="far fa-edit" style="cursor:pointer;font-size: 14px;"></i>
            </a>

            Registration
          </h3>

          <div>
            <b>How'd you hear</b> One two three
          </div>

          <div>
            <b>How do you presently plan? </b> One two three
          </div>

          <div>
            <b>Organization Type</b> One two three
          </div>

          <div>
            <b>Organization Type</b> Sam Ullman
          </div>

          <div>
            <b>Enrolled On</b> 9/9/2019
          </div>
        </div>



        <div class="col-sm-12 col-md-6 col-lg-4">

          <h3 style="margin-top: 20px;border-bottom:2px solid #3d3d3d;padding-bottom:3px;">
            Account Groups
          </h3>

          <div style="margin: 2.5px 0px;">
            Test <i class="fas fa-times" style="cursor:pointer;color:#767676;"></i>,
          </div>

          <a href="#">
            Add an existing account group
          </a>
        </div>
      </div>
    </div>
  </block>
</extends>