<extends src='layout.html'>
  <block name='content'>
    <div style="background:white;padding:20px;">

      <a href="/manage-organizations">
        Manage All Organizations
      </a>

      <div class="row" style="margin-bottom:20px">
        <include src="ManageOrganization/HeaderModule.html"></include>
        <include src="ManageOrganization/LogoModule.html"></include>
        <include src="ManageOrganization/AboutModule.html"></include>
        <include src="ManageOrganization/SpecialtiesModule.html"></include>
        <include src="ManageOrganization/CMSModule.html"></include>
        <include src="ManageOrganization/MobileAppCodesModule.html"></include>
        <include src="ManageOrganization/CMSTemplatesModule.html"></include>
        <include src="ManageOrganization/ProfileTable.html"></include>
        <include src="ManageOrganization/LocationTable.html"></include>
        <include src="ManageOrganization/RegistrationModule.html"></include>
        <include src="ManageOrganization/AccountGroupsModule.html"></include>
      </div>

      <a href="/manage-organizations">
        <i class="fas fa-trash" style="cursor:pointer;color:#767676;"></i> Remove this organization
      </a>
    </div>
  </block>
</extends>