<extends src='layout.html'>
  <block name='content'>
    <div class="panel panel-default">
      <div class="panel-body">

        <a href="/">
          < Manage All Organizations </a> <h1>
            Sam's Health Care (1) <i class="fas fa-check-circle" style="color: LimeGreen;"></i>
            </h1>


            <div style="margin: 2.5px 0px;">
              <img src="https://res.cloudinary.com/vivacare/image/upload/v1550865483/samples/food/spices.jpg"
                style="width:100%;max-width:125px;margin-right: 5px;" />
              <input type="file" name="file">
            </div>

            <div style="margin: 2.5px 0px;">
              <a href="https://www.vivacare.com/sullmanchange" target="_blank">sullmanchange</a>
              |
              <a href="https://www.samullman.co/" target="_blank">https://www.samullman.co/</a>
            </div>

            <div class="">
              <i class="far fa-edit"></i>
            </div>


            <h3 style="margin-top: 20px">
              Specialties
            </h3>

            <div style="margin: 2.5px 0px;">
              Dermatolgoy <i class="fas fa-times" style="cursor:pointer;color:darkgray;"></i>, Cardiology <i
                class="fas fa-times" style="cursor:pointer;color:darkgray;"></i>
            </div>

            <a href="#">
              Add an existing specialty
            </a>

            <h3 style="margin-top: 20px">
              CMS
            </h3>

            <div style="margin: 2.5px 0px;">
              <div>
                <b>Title</b> Sam Ullman
              </div>

              <div>
                <b>Dowload app</b> <i class="fas fa-check" style="color:#767676;"></i>
              </div>

              <div>
                <b>Organization Name on Library</b> <i class="fas fa-check" style="color:#767676;"></i>
              </div>
              <div>
                <b>About Us</b> <i class="fas fa-check" style="color:#767676;"></i>
              </div>
              <div>
                <b>Website Url</b> <i class="fas fa-check" style="color:#767676;"></i>
              </div>
            </div>

            <div class="">
              <i class="far fa-edit"></i>
            </div>


            <h3 style="margin-top: 20px">
              Mobile App Codes
            </h3>

            <div style="margin: 2.5px 0px;">
              sullmanchange <i class="fas fa-times" style="cursor:pointer;color:darkgray;"></i>
            </div>

            <a href="#">
              Add a new code
            </a>


            <h3 style="margin-top: 20px">
              CMS Templates
            </h3>

            <div style="margin: 2.5px 0px;">
              Dermatology <i class="fas fa-times" style="cursor:pointer;color:darkgray;"></i>,
              Cardiology <i class="fas fa-times" style="cursor:pointer;color:darkgray;"></i>,
            </div>

            <a href="#">
              Add an existing template
            </a>
      </div>
    </div>
  </block>
</extends>