<div class="col-sm-12 col-md-6 col-lg-4"style="font-size:9px;">
		<h3 style="margin-top: 20px;border-bottom:2px solid #3d3d3d;padding-bottom:3px;">
		  CMS

		  <a href="#">
			<i class="far fa-edit" style="cursor:pointer;font-size: 14px;"></i>
		  </a>
		</h3>

		<div>
		  <b>Title</b> Sam Ullman
		</div>

		<div>
		  <b>Dowload app</b> <i class="fas fa-check" style="color:#767676;"></i>
		</div>

		<div>
		  <b>Organization Name on Library</b> <i class="fas fa-check" style="color:#767676;"></i>
		</div>
		<div>
		  <b>About Us</b> <i class="fas fa-check" style="color:#767676;"></i>
		</div>
		<div>
		  <b>Website Url</b> <i class="fas fa-check" style="color:#767676;"></i>
		</div>
	  </div>

