<div class="col-sm-12"style="font-size:9px;">
		<h3 style="margin-top: 20px;padding-bottom:3px;margin-bottom:0px;">
		  Profiles
		</h3>

		<table class="table" style="border-top:2px solid #3d3d3d;margin-bottom: 0px;">
		  <thead>
			<tr>
			  <th scope="col"></th>
			  <th scope="col">
				Photo
			  </th>
			  <th scope="col">
				First
			  </th>

			  <th scope="col">
				Last
			  </th>
			  <th scope="col">
				Role
			  </th>

			  <th scope="col">
				Phone
			  </th>

			  <th scope="col">
				Email
			  </th>
			  <th scope="col">
				About
			  </th>
			  <th style="min-width:120px">
				Enrolled on
			  </th>

			  <th style="min-width:120px">
				Published
			  </th>

			  <th style="min-width:120px">
				Showing
			  </th>




			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <td>
				<a href="#">
				  <i class="far fa-edit" style="cursor:pointer;"></i>
				</a>

			  </td>

			  <td>
				<img src="https://res.cloudinary.com/vivacare/image/upload/v1552059374/headhsot_neqs9c.png"
				  style="height:auto;width:100%;max-width: 125px;">
			  </td>

			  <td>
				Sam
			  </td>
			  <td>
				Ullman
			  </td>
			  <td>
				Physician (MD, DO)
			  </td>
			  <td>
				(503) 752-5441
			  </td>
			  <td>
				<a href="#">
				  samullman@gmail.com
				</a>
			  </td>




			  <td>
				Sam Ullman is a practicing.....
			  </td>
			  <td>
				9/9/2011
			  </td>

			  <td>
				<i class="fas fa-check"></i>
			  </td>

			  <td>
				<i class="fas fa-check"></i>
			  </td>

			</tr>
			<tr>
			  <td>
				<a href="#">
				  <i class="far fa-edit" style="cursor:pointer;"></i>
				</a>

			  </td>

			  <td>
				<img src="https://res.cloudinary.com/vivacare/image/upload/v1552059374/headhsot_neqs9c.png"
				  style="height:auto;width:100%;max-width: 125px;">
			  </td>

			  <td>
				Sam
			  </td>
			  <td>
				Ullman
			  </td>
			  <td>
				Physician (MD, DO)
			  </td>
			  <td>
				(503) 752-5441
			  </td>
			  <td>
				<a href="#">
				  samullman@gmail.com
				</a>
			  </td>




			  <td>
				Sam Ullman is a practicing.....
			  </td>
			  <td>
				9/9/2011
			  </td>

			  <td>
				<i class="fas fa-check"></i>
			  </td>

			  <td>
				<i class="fas fa-check"></i>
			  </td>

			</tr>
		  </tbody>
		</table>

		<a href="#">
		  Add an existing profile
		</a>
		|
		<a href="#">
		  Add a new profile
		</a>
	  </div>