<div class="col-sm-12 col-md-6 col-lg-4">
		<h3 style="margin-top: 20px;border-bottom:2px solid #3d3d3d;padding-bottom:3px;">
			Registration

			<a href="#">
				<i class="far fa-edit" style="cursor:pointer;font-size: 14px;"></i>
			</a>

		</h3>

		<div>
			<b>How'd you hear</b> One two three
		</div>

		<div>
			<b>How do you presently plan? </b> One two three
		</div>

		<div>
			<b>Organization Type</b> One two three
		</div>

		<div>
			<b>Organization Type</b> Sam Ullman
		</div>

		<div>
			<b>Enrolled On</b> 9/9/2019
		</div>
	</div>