<div class="registration">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-sm-12 col-md-10">

        <div class="box2">
          <h1>
            Account
          </h1>

          <div>
            -- Contact Info --
          </div>
          
          <div class="btn btn-primary">
            Send Password Reset
          </div>

          <div class="btn btn-danger">
            Sign Off
          </div>
        </div>
      </div> <!-- col-sm-8 -->

    </div>
  </div>
</div>