<div class="registration">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-sm-12 col-md-10">

        <div class="box2">
          <h1>
            Account
          </h1>
          
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                  <label><b>Email</b><span style="color: red;">*</span></label>
                  <input type="email" class="form-control" placeholder="Email">
              </div>

              <div class="col">
                  <label><b>Phone</b></label>
                  <input type="text" class="form-control"/>
              </div>
            </div>
          </div>

          <div class="form-group">
              <div class="form-row">
                <div class="col-sm-2">
                  <label class="my-1 mr-2"><b>Prefix</b></label>
                  <input type="text" class="form-control" placeholder="Prefix">
                </div>

                <div class="col">
                  <label class="my-1 mr-2"><b>First</b><span style="color: red;">*</span></label>
                  <input type="text" class="form-control" placeholder="First">
                </div>
  
                <div class="col">
                  <label class="my-1 mr-2"><b>Middle</b></label>
                  <input type="text" class="form-control" placeholder="Middle">
                </div>
  
                <div class="col">
                  <label class="my-1 mr-2"><b>Last</b><span style="color: red;">*</span></label>
                  <input type="text" class="form-control" placeholder="Last">
                </div>
  
                <div class="col-sm-2">
                  <label class="my-1 mr-2"><b>Suffix</b></label>
                  <input type="text" class="form-control" placeholder="Suffix">
                </div>
              </div>
  
  
            </div>
  

          <div class="form-group">
              <div class="form-row">
                <div class="col">
                  <label class="my-1 mr-2"><b>Address Line 1</b><span style="color: red;">*</span></label>
                  <input type="text" class="form-control" placeholder="Address Line 1">
                </div>
  
                <div class="col">
                  <label class="my-1 mr-2"><b>Address Line 2</b></label>
                  <input type="text" class="form-control" placeholder="Address Line 2">
                </div>
              </div>
            </div>
  
  
            <div class="form-group">
              <div class="form-row">
                <div class="col">
                  <label class="my-1 mr-2"><b>City</b><span style="color: red;">*</span></label>
                  <input type="text" class="form-control" placeholder="City">
                </div>
  
                <div class="col">
                  <label class="my-1 mr-2"><b>State</b><span style="color: red;">*</span></label>
                  <select class="custom-select ">
                    <option selected>Choose...</option>
                    <option value="Alabama">Alabama</option>
                    <option value="Alaska">Alaska</option>
                    <option value="Alberta">Alberta</option>
                    <option value="American Samoa">American Samoa</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option>
                    <option value="British Columbia">British Columbia</option>
                    <option value="California">California</option>
                    <option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option>
                    <option value="Delaware">Delaware</option>
                    <option value="District of Columbia">District of Columbia</option>
                    <option value="Federated States of Micronesia">Federated States of Micronesia
                    </option>
                    <option value="Florida">Florida</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Guam">Guam</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Idaho">Idaho</option>
                    <option value="Illinois">Illinois</option>
                    <option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option>
                    <option value="Kansas">Kansas</option>
                    <option value="Kentucky">Kentucky</option>
                    <option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option>
                    <option value="Manitoba">Manitoba</option>
                    <option value="Marshall Islands">Marshall Islands</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Mississippi">Mississippi</option>
                    <option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option>
                    <option value="Nebraska">Nebraska</option>
                    <option value="Nevada">Nevada</option>
                    <option value="New Brunswick">New Brunswick</option>
                    <option value="Newfoundland">Newfoundland</option>
                    <option value="New Hampshire">New Hampshire</option>
                    <option value="New Jersey">New Jersey</option>
                    <option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option>
                    <option value="Non-US">Non-US</option>
                    <option value="North Carolina">North Carolina</option>
                    <option value="North Dakota">North Dakota</option>
                    <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                    <option value="Nova Scotia">Nova Scotia</option>
                    <option value="Nunavut">Nunavut</option>
                    <option value="Northwest Territories">Northwest Territories</option>
                    <option value="Ohio">Ohio</option>
                    <option value="Oklahoma">Oklahoma</option>
                    <option value="Ontario">Ontario</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Palau">Palau</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                    <option value="Prince Edward Island">Prince Edward Island</option>
                    <option value="Puerto Rico">Puerto Rico</option>
                    <option value="Quebec">Quebec</option>
                    <option value="Rhode Island">Rhode Island</option>
                    <option value="Saskatchewan">Saskatchewan</option>
                    <option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option>
                    <option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option>
                    <option value="Utah">Utah</option>
                    <option value="Vermont">Vermont</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Virgin Islands">Virgin Islands</option>
                    <option value="Washington">Washington</option>
                    <option value="West Virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                    <option value="Yukon">Yukon</option>
                  </select>
                </div>
  
                <div class="col">
                  <label class="my-1 mr-2"><b>Zip</b><span style="color: red;">*</span></label>
                  <input type="text" class="form-control" placeholder="Zip">
                </div>
              </div>
            </div>

          
        </div>

        <div class="box2">
            <div class="btn btn-primary">
              Save
            </div>
            <div class="btn btn-secondary">
                Send Password Reset
              </div>
    
              <div class="btn btn-danger">
                Sign Off
              </div>
        </div>
      </div> <!-- col-sm-8 -->

    </div>
  </div>
</div>