<div class="registration">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-sm-12 col-md-10">

        <div class="box2">
          <h1>
            Account
          </h1>

          <div class="form-group">
                    <label><b>Email</b><span style="color: red;">*</span></label>
                    <input type="email" class="form-control" placeholder="Email" style="max-width: 400px;">
                    <small>Your personal email address is not displayed online and is not shared with 3rd parties.</small>
            </div>
          
          <div class="form-group">
            <label>
              <span style="margin-right:4px;">
                Display Your Own Toolkit
							</span>
								<div class="custom-control custom-switch" style="display:inline;" >
										<input type="checkbox" class="custom-control-input" id="customSwitch1" onclick="toggle()">
										<label class="custom-control-label" for="customSwitch1"></label>
										</div>
							<span>
								Display A Different Toolkit
              </span>
            </label>

              <fieldset disabled="disabled" class="my-fieldset">
                  <input type="text" class="form-control form-control-lg disabled my-form-control" placeholder="Enter Toolkit URL Here" value="akronderm"/>
                </fieldset>

              
            </div>

						<script>
							function toggle () {
								if ( $('.my-fieldset').attr('disabled') == "disabled" ) {
									$('.my-fieldset').attr('disabled', false);
									
									$('.my-form-control').val("")
									$('.my-form-control').focus()

								} else {
									$('.my-fieldset').attr('disabled', true);
									$('.my-form-control').val("mostow")
								}
							}
						</script>

            <div class="btn btn-primary">
              Save
            </div>
            <div class="btn btn-secondary">
                Send Password Reset
              </div>
    
              <div class="btn btn-danger">
                Sign Off
              </div>
        </div>



        
      </div> <!-- col-sm-8 -->

    </div>
  </div>
</div>