<div class="registration">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
      </div>

      <div class="col-sm-12 col-md-10">

        <div class="box2">
          <h1>Add Tips & Wisdom</h1>

          <h6>
            For: 
            <a href="/acne-diet">
              <i>
              Acne & Diet
              </i>
            </a>
          </h6>

          <div class="form-group">
            <label><b>Title</b></label>
            <input class="form-control" type="text"/>
          </div>

          <div class="form-group">
              <label><b>Body</b></label>
              <textarea class="form-control" type="text"></textarea>
            </div>

          <a class="btn btn-primary" style="margin-right: 6px;" href="#">
            Save
          </a>

          <a class="btn btn-secondary" href="#">
            Cancel
          </a>
        </div> <!-- box -->

      </div> <!-- col-sm-8 -->

      <div class="col">
      </div>
    </div>
  </div>

</div>