<div class="registration">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
      </div>

      <div class="col-sm-12 col-md-10">

        <div class="box2">
          <h1>Edit Content</h1>

          <div class="form-group">
            <label><b>Title</b></label>
            <input class="form-control" type="text"/>
          </div>

          <div class="form-group">
              <label><b>Body</b></label>
              <textarea class="form-control" type="text"></textarea>
            </div>

          <div class="btn btn-primary" style="margin-right: 6px;">
            Save
          </div>

          <a class="btn btn-secondary" href="content">
            Cancel
          </a>
        </div> <!-- box -->

        <div class="box2">
          <a href="add-tips-and-wisdom.html">
            Add Tips & Wisdom
          </a>
        </div>
      </div> <!-- col-sm-8 -->

      <div class="col">
      </div>
    </div>
  </div>

</div>