<div class="registration">
<div class="container">
        <div class="row justify-content-center">
            <div class="col">
            </div>
    
            <div class="col-sm-12 col-md-10 col-lg-8" style="padding-top: 24px;">
    
                <div class="box">
                        <div class="text-center">
                                <img src="https://res.cloudinary.com/vivacare/image/upload/v1553119044/vivacare-logo.png"
                                    style="width:225px;" />
                            </div> 
    
    
                    <div style="padding:15px 20px;background:#ebebeb;">
                        <h2>Welcome</h2>
                        
                    </div>
    
    
    
    
    
                    <h4>Embed Code</h4>
                    <div class="alert alert-secondary" role="alert">
    
                        <div id="iframe-code">
                        </div>
                        <script>
                            setTimeout(function () {
                                $("#iframe-code").text("<iframe src=\"https://www.vivacare.com/sullmanchange/\" style=\"height:800px;width:100%;min-width:480px;\" frameborder=\"0\"></iframe>")
                            })
                        </script>
                    </div>
    
    
                </div> <!-- box -->
            </div> <!-- col-sm-8 -->
    
            <div class="col">
            </div>
        </div>
    </div>
</div>