<div class="registration">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
            </div>

            <div class="col-sm-12 col-md-10">
                <div class="box2" style="padding-bottom:44px;margin-bottom:0px;">

                    <div class="row">
                        <div class="col-sm-12 col-md-8">
                            <div class="row" style="margin-bottom:24px;">
                                <div class="col-sm-6 col-lg-3">
                                    <img src="https://res.cloudinary.com/vivacare/image/upload/v1553450375/No_avatar.png"
                                        style="width:100%;background: grey;max-width:240px;" />
                                    <div style="text-align:center;">
                                        <a href="#">
                                            upload
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-8">
                                    <div>
                                        <b style="font-size:18px;margin-right:4px;">
                                            Eliot Mostow, MD
                                        </b>

                                        <a href="edit-profile.html">
                                            Edit Profile
                                        </a>
                                    </div>

                                    <div>
                                        <a href="#">
                                            emostow@akronderm.com
                                        </a>
                                    </div>

                                    <div>
                                        2331 N. State Street, Akron
                                    </div>
                                </div>
                            </div>

                            <div style="margin-bottom:24px;">
                                <div>
                                    <b>
                                        Biography
                                    </b>

                                    <a href="edit-biography.html">
                                        Edit
                                    </a>
                                </div>

                                <div >
                                    <b>
                                        Professional Details
                                    </b>

                                    <a href="#">
                                        Edit
                                    </a>
                                </div>

                                <div >
                                    <b>
                                        Professional Affiliations
                                    </b>

                                    <a href="#">
                                        Edit
                                    </a>
                                </div>

                            </div>

                            <div style="margin-bottom: 24px;">
                                <h5 style="display:inline;">
                                    <b>
                                        Patient Resources
                                    </b>
                                </h5>

                                <a href="#">
                                    Add/Edit Titles
                                </a>
                            </div>

                            <div style="margin-bottom:14px;">
                                <h5 style="display:inline;">
                                    <b>
                                        Akron Dermatology
                                    </b>
                                </h5>

                                <a href="#">
                                    Edit Details
                                </a>
                            </div>

                            <div class="row">

                                <div class="col-sm-6 col-md-3">
                                    <img src="https://res.cloudinary.com/vivacare/image/upload/v1554670112/akron.png"
                                        style="width:100%;max-width:240px;" />
                                    <div style="text-align:center;">
                                        <a href="#">
                                            upload
                                        </a>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-8">
                                    <div>
                                        Display Name: Akron Dermatology
                                    </div>

                                    <div>
                                        Locations
                                        <a href="#">
                                            Add/Edit
                                        </a>
                                    </div>

                                    <div>
                                        Staff
                                        <a href="#">
                                            Add/Edit
                                        </a>
                                    </div>
                                </div>


                            </div>


                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div style="border: 1px solid darkgrey;padding:20px;margin-bottom:12px;">
                                <div style="margin-bottom:8px;text-align: center;">
                                    <a href="#" class="btn btn-success">
                                        View Profile
                                    </a>

                                </div>
                                <div>
                                    Patient Views: <b>120</b>
                                </div>
                            </div>

                            <div style="border: 1px solid darkgrey;padding:20px;margin-bottom:12px;">
                                <div style="margin-bottom:8px;text-align: center;">
                                    <a href="#" class="btn btn-primary">
                                        View Toolkit
                                    </a>

                                </div>
                                <ul>
                                    <li>
                                        Patient Views: <b>245</b>
                                    </li>

                                    <li>
                                        Resources: <b>Dermatology, SDPA</b>
                                    </li>
                                </ul>

                            </div>

                            <div style="border: 1px solid darkgrey;padding:20px;margin-bottom:12px;">
                                <div style="margin-bottom:8px;text-align: center;">
                                    <a href="#" class="btn btn-warning">
                                        View Survey
                                    </a>

                                </div>
                                <div>
                                    Average Score: <b>9</b>
                                </div>

                                <div>
                                    Average score: <b>5.4</b>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div> <!-- col-sm-8 -->

            <div class="col">
            </div>
        </div>
    </div>
</div>