<div class="registration">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10">
        <div class="box2">
          <div class="row" style="text-align:center;">
            <div class="col-sm-6">
              <a href="#" class="btn btn-primary btn-lg mb-3">
                View Toolkit
              </a>
              <h5>

                Toolkit Views: 69
              </h5>
            </div>

            <div class="col-sm-6">


              <a href="#" class="btn btn-warning btn-lg mb-3">
                View Profile
              </a>
              <h5>
                Profile Views: 74
              </h5>
            </div>
          </div>


        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="box2">
              <h3>
                Eliot Mostow, MD
              </h3>

              <div class="row" style="margin-bottom: 20px;">
                <div class="col-sm-4 col-md-4">
                  <img src="https://res.cloudinary.com/vivacare/image/upload/v1553450375/No_avatar.png"
                    style="width:100%;background: grey;max-width:240px;" />
                </div>

                <div class="col-sm-8 col-md-8">
                  <div>
                    <a href="profile">
                      Edit Profile
                    </a>
                  </div>

                  <div>
                    Physician (MD), Dermatology
                  </div>

                  <div>
                    Email: eliotmostow@gmail.com
                  </div>

                  <div>
                    Location: 2992 N. Grey, Portland, OR, 97211
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="col-sm-12 col-md-6">
            <div class="box2" >
              <h3>
                Tips & Wisdom
              </h3>

              <div style="margin-bottom:12px;">
                <select class="form-control form-control-sm" onchange="toggle()">
                  <option data-toggle="disable" value="">Choose...</option>
                  <option data-toggle="enable" value="actinic-keratosis">Actinic Keratosis</option>
                  <option data-toggle="enable" value="acne-diet">Acne & Diet</option>
                  <option data-toggle="enable" value="other-condition">Other Condition</option>
                </select>
              </div>

              <script>
                function toggle() {
                  if ($(event.currentTarget).find('option:selected').data('toggle') == "enable") {
                    $('.add-tips-wisdom').removeClass('disabled')
                  } else {
                    $('.add-tips-wisdom').addClass('disabled')
                  }

                }
              </script>

              <div class="btn btn-success btn-sm disabled add-tips-wisdom" >
                Add Tips & Wisdom
              </div>

              <hr>
              <div class="" style="max-height:68px;overflow-y:scroll;">
                <div>
                  <i>6/19/2019</i>
                  <a href="#">
                    Acne & Diet
                  </a>
                </div>

                <div>
                  <i>6/19/2019</i>
                  <a href="#">
                    Actinic Keratosis
                  </a>
                </div>

                <div>
                  <i>6/19/2019</i>
                  <a href="#">
                    Acne & Diet
                  </a>
                </div>


                <div>
                  <i>6/19/2019</i>
                  <a href="#">
                    Acne & Diet
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="box2">
          <h3>
            Rendon Center for Dermatology and Aesthetic Medicine
          </h3>

          <div class="row">
            <div class="col-sm-4 col-md-2">
              <img src="https://res.cloudinary.com/vivacare/image/upload/v1553450375/No_avatar.png"
                style="width:100%;background: grey;max-width:240px;" />
            </div>

            <div class="col-sm-12 col-md-10">
              <div>
                <a href="practice">
                  Edit Practice
                </a>
              </div>

              <div>
                Organization Name: Rendon Center for Dermatology and Aesthetic Medicine
              </div>
              <div>
                Display Name: Rendon Center for Dermatology and Aesthetic Medicine
              </div>
            </div>
          </div>
        </div>

        <div class="box2">
          <h4>
            Patient Education
          </h4>


          <div>
            Patient Education Content: Dermatology, Cardiology
          </div>
        </div>

      </div> <!-- col-sm-8 -->
    </div>
  </div>
</div>