<div class="registration">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10">
        <div class="box2">
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <h5>
                <a href="#" style="color:inherit;">
                  View Your Toolkit
                </a>
              </h5>
            </div>

            <div class="col-sm-12 col-md-3">

              Toolkit Views: 6
            </div>
            
            <div class="col-sm-12 col-md-3">
              <h5>
                <a href="#" style="color:inherit;">
                  View Your Profile
                </a>
              </h5>
            </div>

            <div class="col-sm-12 col-md-3">
              Profile Views: 6
            </div>
          </div>
        </div>

        <div class="box2">
          
          <div class="row">
            <div class="col-sm-4 col-md-2">
              <img src="https://res.cloudinary.com/vivacare/image/upload/v1553450375/No_avatar.png"
                style="width:100%;background: grey;max-width:240px;" />
            </div>

            <div class="col-sm-12 col-md-10">
              <h4>
                  Eliot Mostow, MD
              </h4>

              <div>
                  <a href="your-profile.html">
                    Edit Profile
                  </a>
              </div>

              <div>
                Physician (MD), Dermatology
              </div>

              <div>
                Email: eliotmostow@gmail.com
              </div>

              <div>
                Location: 2992 N. Grey, Portland, OR, 97211
              </div>
            </div>
          </div>
        </div> <!-- box -->

        <div class="box2">
          <div class="row">
            <div class="col-sm-4 col-md-2">
                <img src="https://res.cloudinary.com/vivacare/image/upload/v1553450375/No_avatar.png"
                style="width:100%;background: grey;max-width:240px;" />
            </div>

            <div class="col-sm-12 col-md-10">
                <h4>
                  Rendon Center for Dermatology and Aesthetic Medicine
                </h4>              

                <div>
                  <a href="your-practice"> 
                    Edit Practice
                  </a>
                </div>

                <div>
                  Display Name: Rendon Center for Dermatology and Aesthetic Medicine 
                </div>
            </div>
          </div>

          

        </div>

        <div class="box2">
          <h4>
            Patient Education
          </h4>
          
          <div>
            <a href="#">
              Edit Patient Education
            </a>
          </div>

          <div>
            Patient Education Content: Dermatology, Cardiology
          </div>
        </div>

      </div> <!-- col-sm-8 -->
    </div>
  </div>
</div>