    <div class="panel panel-default">
      <div class="panel-body">

        <h1>
          Manage Organizations
        </h1>

        <div style="margin: 2.5px 0px;">
          <a href="#">
            Add a new organization
          </a>
          |
          <a href="#">
            Export to csv
          </a>
        </div>

        <div style="margin: 2.5px 0px;">
          <select class="custom-select" style="float: left;margin-right: 5px;width:150px;">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="1000">1000</option>
          </select>

          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item"><a class="page-link" href="#">6</a></li>
            </ul>
          </nav>
        </div>


        <div style="margin: 2.5px 0px;">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">
                  Name
                  <a href="#" style="margin-right:3px;">h</a>
                  <a href="#" style="margin-right:3px;">f</a>
                  <a href="#" style="margin-right:3px;">s</a>
                </th>
                <th scope="col">
                  Subdomain
                  <a href="#" style="margin-right:3px;">h</a>
                  <a href="#" style="margin-right:3px;">f</a>
                  <a href="#" style="margin-right:3px;">s</a>
                </th>
                <th scope="col">
                  External Domain
                  <a href="#" style="margin-right:3px;">h</a>
                  <a href="#" style="margin-right:3px;">f</a>
                  <a href="#" style="margin-right:3px;">s</a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="manage-organization.html">
                    <i class="far fa-edit" style="cursor:pointer;"></i>
                  </a>  
                </td>
                <td>Sam's Health Care</td>
                <td>
                  sullmanchange
                </td>
                <td>
                  <a href=#>
                    https://www.samullman.co
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  