<div class="registration">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
      </div>

      <div class="col-sm-12 col-md-10" >

        <div class="box2">
          <h1>Patient Resources</h1>

          <div style="margin-bottom:8px;">
            <a href="#">
              All
            </a>
            |
            <a href="#">
              Condition
            </a>
            |
            <a href="#">
              Device
            </a>
            |
            <a href="#">
              General
            </a>
            |
            <a href="#">
              Medication
            </a>
            |
            <a href="#">
              Procedure
            </a>
            |
            <a href="#">
              Test
            </a>
            |
            <a href="#">
              Unassigned
            </a>
            |
            <a href="#">
              List all Titles
            </a>
          </div>


          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width:10%;border-bottom:1px;">
                  Displayed
                </th>
                <th scope="col-9" style="width: 90%;border-bottom:1px;">
                  Topic
                </th>
              </tr>
            </thead>
            <tbody>
              <tr >
                <td style="text-align:center;padding:5px;padding-top:8px;">
                  <i class="fas fa-check-circle" style="color:#3bb83b;cursor:pointer;font-size:17px;"></i>
                </td>

                <td style="padding:8px 14px;">

                  <a data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
                    aria-controls="multiCollapseExample1" style="text-decoration:none;color:black;">
                    <h6 style="display:inline;">Acne</h6>
                    <small style="position:relative;bottom:1px;left:4px;color:black;">(2
                      topics)</small>
                  </a>



                  <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div style="padding:3px;">
                      <i class="fas fa-check-circle" style="color:#3bb83b;font-size:8px;cursor:pointer;"></i>
                      <a href="acne-diet.html" style="position:relative;left:7px;">
                        Acne & Diet
                      </a>

                      <div style="float:right;font-size:10px;">
                        <a href="#">
                          Edit
                        </a>
                        /
                        <a href="#">
                          Add Tips & Wisdom
                        </a>
                      </div>
                    </div>




                    <div style="padding:3px;position: relative;">
                      <i class="fas fa-check-circle" style="color:#3bb83b;font-size:8px;cursor:pointer;"></i>
                      <a href="#" style="position:relative;left:7px;">
                        Acne - Mild
                      </a>

                      <div style="float:right;font-size:10px;">
                        <a href="#">
                          Edit
                        </a>
                        /
                        <a href="#">
                          Add Tips & Wisdom
                        </a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>

                <td style="text-align:center;padding:3px;padding-top:8px;">
                  <i class="far fa-times-circle" style="color:red;cursor:pointer;font-size:17px;"></i>
                </td>
                <td style="padding:8px 14px;">

                  <a data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false"
                    aria-controls="multiCollapseExample2" style="text-decoration:none;color:black;">
                    <h6 style="display:inline;">Actinic Keratosis</h6>
                    <small style="position:relative;bottom:1px;left:4px;color:black;">(4
                      topics)</small>
                  </a>
                  <div class="collapse multi-collapse" id="multiCollapseExample2">
                    
                    <div style="padding:3px;position: relative;border-top:none;">
                      <i class="far fa-times-circle" style="color:red;cursor:pointer;"></i>
                      <a href="#" style="position:relative;left:7px;">
                        Acne & Diet
                      </a>

                      <div style="float:right;font-size:10px;">
                        <a href="#">
                          Edit
                        </a>
                        /
                        <a href="#">
                          Add Tips & Wisdom
                        </a>
                      </div>
                    </div>

                    <div style="padding:3px;position: relative;">
                      <i class="far fa-times-circle" style="color:red;cursor:pointer;"></i>
                      <a href="#" style="position:relative;left:7px;">
                        Acne - Mild
                      </a>

                      <div style="float:right;font-size:10px;">
                        <a href="#">
                          Edit
                        </a>
                        /
                        <a href="#">
                          Add Tips & Wisdom
                        </a>
                      </div>
                    </div>
                    <div style="padding:3px;position: relative;">
                      <i class="far fa-times-circle" style="color:red;cursor:pointer;"></i>
                      <a href="#" style="position:relative;left:7px;">
                        Acne - Mild
                      </a>

                      <div style="float:right;font-size:10px;">
                        <a href="#">
                          Edit
                        </a>
                        /
                        <a href="#">
                          Add Tips & Wisdom
                        </a>
                      </div>
                    </div>
                    <div style="padding:3px;position: relative;">
                      <i class="far fa-times-circle" style="color:red;cursor:pointer;"></i>
                      <a href="#" style="position:relative;left:7px;">
                        Acne - Mild
                      </a>

                      <div style="float:right;font-size:10px;">
                        <a href="#">
                          Edit
                        </a>
                        /
                        <a href="#">
                          Add Tips & Wisdom
                        </a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td style="text-align:center;padding:3px;padding-top:8px;">
                  <i class="fas fa-check-circle" style="color:#3bb83b;cursor:pointer;font-size:17px;"></i>
                </td>

                <td style="padding:8px 14px;">

                  <a data-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false"
                    aria-controls="multiCollapseExample3" style="text-decoration:none;color:black;">
                    <h6 style="display:inline;">Acne</h6>
                    <small style="position:relative;bottom:1px;left:4px;color:black;">(2
                      topics)</small>
                  </a>

                  <div class="collapse multi-collapse" id="multiCollapseExample3">
                            <div style="padding:3px;position: relative;border-top:none;">
                              <i class="fas fa-check-circle" style="color:#3bb83b;font-size:8px;cursor:pointer;"></i>
                              <a href="#" style="position:relative;left:7px;">
                                Acne & Diet
                              </a>

                              <div style="float:right;font-size:10px;">
                                <a href="#">
                                  Edit
                                </a>
                                /
                                <a href="#">
                                  Add Tips & Wisdom
                                </a>
                              </div>
                            </div>
                            <div style="padding:3px;position: relative;">
                              <i class="fas fa-check-circle" style="color:#3bb83b;font-size:8px;cursor:pointer;"></i>
                              <a href="#" style="position:relative;left:7px;">
                                Acne - Mild
                              </a>

                              <div style="float:right;font-size:10px;">
                                <a href="#">
                                  Edit
                                </a>
                                /
                                <a href="#">
                                  Add Tips & Wisdom
                                </a>
                              </div>
                            </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td style="text-align:center;">
                    
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>

          <div class="btn btn-primary disabled">
              Save
            </div>          


        </div> <!-- box -->
      </div> <!-- col-sm-8 -->

      <div class="col">
      </div>
    </div>
  </div>

</div>