<div class="registration">
	<div class="container">
		<div class="row justify-content-center">

			<div class="col-sm-12 col-md-10">

				<div class="box2">
					<h1>
						Profile
					</h1>

					<div class="form-group">
						<div class="form-row">

							<div class="col">
								<label class="my-1 mr-2"><b>First</b><span style="color: red;">*</span></label>
								<input type="text" class="form-control" placeholder="First">
							</div>

							<div class="col">
								<label class="my-1 mr-2"><b>Middle</b></label>
								<input type="text" class="form-control" placeholder="Middle">
							</div>

							<div class="col">
								<label class="my-1 mr-2"><b>Last</b><span style="color: red;">*</span></label>
								<input type="text" class="form-control" placeholder="Last">
							</div>

							<div class="col-sm-2">
								<label class="my-1 mr-2"><b>Suffix</b></label>
								<input type="text" class="form-control" placeholder="Suffix">
							</div>


						</div>

					</div>

					<div class="form-group">
						<label class="my-1 mr-2"><b>Profile Image</b></label>

						<div class="form-row">
							<div class="col-sm-4 col-md-2" style="margin-bottom: 20px;text-align: center;">
								<img src="https://res.cloudinary.com/vivacare/image/upload/v1553450375/No_avatar.png"
									style="width:100%;background: grey;max-width:240px;" />

								<a href="#">
									remove
								</a>
							</div>

							<div class="col-sm-8 col-md-4">
								<div class="input-group">
									<div class="custom-file">
										<input type="file" class="custom-file-input" id="inputGroupFile01"
											aria-describedby="inputGroupFileAddon01">
										<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
									</div>
								</div>
							</div>
						</div>
					</div>




					<div class="form-group">
						<div class="form-row">
							<div class="col">
								<label class="my-1 mr-2"><b>Profession</b><span style="color: red;">*</span></label>
								<select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
									<option selected>Choose...</option>
									<option value="Physician (MD, DO)">Physician (MD, DO)</option>
									<option value="Nurse practitioner (NP)">Nurse practitioner (NP)</option>
									<option value="Physician assistant (PA)">Physician assistant (PA)</option>
									<option value="Medical Assistant (CMA)">Medical Assistant (CMA)</option>
									<option value="Medical resident">Medical resident</option>
									<option value="Nurse">Nurse</option>
									<option value="Psychologist/Social worker">Psychologist/Social worker</option>
									<option value="Pharmacist (RPh)">Pharmacist (RPh)</option>
									<option value="PharmD">PharmD</option>
									<option value="Physical Therapist">Physical Therapist</option>
									<option value="Office Manager/Administrator">Office Manager/Administrator</option>
									<option value="Other">Other</option>
								</select>
							</div>

							<div class="col">
								<label class="my-1 mr-2"><b>Specialty</b><span style="color: red;">*</span></label>
								<select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
									<option selected>Choose...</option>
									<option value="Allergy">Allergy</option>
									<option value="Cardiology">Cardiology</option>
									<option value="Dentistry">Dentistry</option>
									<option value="Dermatology">Dermatology</option>
									<option value="Endocrinology">Endocrinology</option>
									<option value="ENT">ENT</option>
									<option value="Family Practice">Family Practice</option>
									<option value="Gastroenterology">Gastroenterology</option>
									<option value="Home Health">Home Health</option>
									<option value="Internal Medicine ">Internal Medicine </option>
									<option value="Nephrology">Nephrology</option>
									<option value="Neurology">Neurology</option>
									<option value="Ob-Gyn">Ob-Gyn</option>
									<option value="Ophthalmology">Ophthalmology</option>
									<option value="Pediatrics">Pediatrics</option>
									<option value="Physical Medicine">Physical Medicine</option>
									<option value="Podiatry">Podiatry</option>
									<option value="Psychiatry">Psychiatry</option>
									<option value="Pulmonology">Pulmonology</option>
									<option value="Rheumatology">Rheumatology</option>
									<option value="Surgery (General)">Surgery (General)</option>
									<option value="Urology">Urology</option>
									<option value="Other">Other</option>
								</select>
							</div>

						</div>
					</div>



					<div class="form-group">
						<label><b>About You</b></label>
						<textarea class="form-control" rows="4"></textarea>
					</div>

					<div class="form-group">
						<label><b>Professional Affiliations</b></label>
						<textarea class="form-control" rows="2"></textarea>
					</div>

					<div class="form-group">
						<label><b style="margin-right:4px;">Curriculum Vitae</b>

							<div class="custom-control custom-switch" style="display:inline;">
								<input type="checkbox" class="custom-control-input" id="customSwitch2">
								<label class="custom-control-label" for="customSwitch2"></label>
							</div>
						</label>

						<div class="form-row">

							<div class="col-sm-4 col-md-2">
								<a href="#">
									<i class="far fa-file-pdf"></i> path_to_pdf.pdf
								</a>

								<div style="text-align:center;">
									<a href="#">
										remove
									</a>
								</div>

							</div>

							<div class="col-sm-8 col-md-4">
								<div class="input-group">
									<div class="custom-file">
										<input type="file" class="custom-file-input" id="inputGroupFile01"
											aria-describedby="inputGroupFileAddon01">
										<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
									</div>
								</div>
							</div>
						</div>




					</div>

					<div class="form-grou">
						<label><b>Primary Location</b></label>
						<select class="custom-select my-1 mr-sm-2" name="" id="">
							<option value="">Location 1</option>
							<option value="">Location 2</option>
							<option value="">Location 3</option>
						</select>
					</div>


					
				</div>

				<div class="box2">
						<div href="#" style="display:inline;margin-right: 6px;">
							<button class="btn btn-primary">Save</button>
						</div>

						<div href="#"  style="display:inline;margin-right: 6px;">
							<button class="btn btn-secondary">Cancel</button>
						</div>
					</div>
			</div> <!-- col-sm-8 -->
		</div>
	</div>

</div>