<div class="registration">
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>

	<div class="container">
		<div class="row justify-content-center">

			<div class="col-sm-12 col-md-9 col-lg-8">
				<div class="box2">
					<div class="text-center">
						<img src="https://res.cloudinary.com/vivacare/image/upload/v1553119044/vivacare-logo.png"
							style="width:225px;" />
					</div>

					<div class="alert alert-primary alert-dismissible fade show" role="alert">
						U.S. Medical Professionals Only
					</div>



					<div class="form-group">
						<label><b>Email</b><span style="color: red;">*</span></label>
						<input type="email" class="form-control" placeholder="Email">

						<small>
							Your email will not be displayed or shared with any 3rd parties.
						</small>
					</div>

					<div class="form-group">
							<label><b>Password</b><span style="color: red;">*</span></label>
							<input type="password" class="form-control" placeholder="Password">
							<small>
								Must be at least 6 characters long, must include: one lowercase letter [a-z], one numeric digit [0-9].
							</small>
						</div>



					<div class="form-group">
						<div class="form-row">
							<div class="col">
								<label><b>First</b><span style="color: red;">*</span></label>
								<input type="text" class="form-control" placeholder="First">
							</div>

							<div class="col">
								<label><b>Middle</b></label>
								<input type="text" class="form-control" placeholder="Middle">
							</div>

							<div class="col">
								<label><b>Last</b><span style="color: red;">*</span></label>
								<input type="text" class="form-control" placeholder="Last">
							</div>

							<div class="col">
								<label><b>Suffix</b></label>
								<input type="text" class="form-control" placeholder="Suffix">
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="form-row">
							<div class="col">
								<label><b>Profession</b><span style="color: red;">*</span></label>
								<select class="custom-select" id="inlineFormCustomSelectPref">
									<option selected>Choose...</option>
									<option value="Physician (MD, DO)">Physician (MD, DO)</option>
									<option value="Nurse practitioner (NP)">Nurse practitioner (NP)</option>
									<option value="Physician assistant (PA)">Physician assistant (PA)</option>
									<option value="Medical Assistant (CMA)">Medical Assistant (CMA)</option>
									<option value="Medical resident">Medical resident</option>
									<option value="Nurse">Nurse</option>
									<option value="Psychologist/Social worker">Psychologist/Social worker
									</option>
									<option value="Pharmacist (RPh)">Pharmacist (RPh)</option>
									<option value="PharmD">PharmD</option>
									<option value="Physical Therapist">Physical Therapist</option>
									<option value="Office Manager/Administrator">Office Manager/Administrator
									</option>
									<option value="Other">Other</option>
								</select>
							</div>

							<div class="col">
								<label><b>Specialty</b><span style="color: red;">*</span></label>
								<select class="custom-select" id="inlineFormCustomSelectPref">
									<option selected>Choose...</option>
									<option value="Allergy">Allergy</option>
									<option value="Cardiology">Cardiology</option>
									<option value="Dentistry">Dentistry</option>
									<option value="Dermatology">Dermatology</option>
									<option value="Endocrinology">Endocrinology</option>
									<option value="ENT">ENT</option>
									<option value="Family Practice">Family Practice</option>
									<option value="Gastroenterology">Gastroenterology</option>
									<option value="Home Health">Home Health</option>
									<option value="Internal Medicine ">Internal Medicine </option>
									<option value="Nephrology">Nephrology</option>
									<option value="Neurology">Neurology</option>
									<option value="Ob-Gyn">Ob-Gyn</option>
									<option value="Ophthalmology">Ophthalmology</option>
									<option value="Pediatrics">Pediatrics</option>
									<option value="Physical Medicine">Physical Medicine</option>
									<option value="Podiatry">Podiatry</option>
									<option value="Psychiatry">Psychiatry</option>
									<option value="Pulmonology">Pulmonology</option>
									<option value="Rheumatology">Rheumatology</option>
									<option value="Surgery (General)">Surgery (General)</option>
									<option value="Urology">Urology</option>
									<option value="Other">Other</option>
								</select>
							</div>
						</div>
					</div>


				

					<div class="form-group">

						<label class="my-1 mr-2"><b>Organization Name</b><span style="color: red;">*</span></label>
						<input type="text" class="form-control" placeholder="ex. Akron Dermatology">

					</div>

					<div class="form-group">

						<div class="form-row">
							<div class="col">

								<label class="my-1 mr-2"><b>Organization Website URL</b></label>
								<input type="text" class="form-control" placeholder="https://www.example.com/	">
							</div>

							<div class="col">
								<label class="my-1 mr-2"><b>Patient Portal URL</b></label>
								<input type="text" class="form-control" placeholder="https://www.example.com/">
							</div>


						</div>


					</div>


					<div class="form-group">
						<div class="form-row">

							<div class="col">
								<label class="my-1"><b>Phone # For Scheduling Appointments</b></label>
								<div class="form-row">
									<div class="col-3">
										<input type="text" class="form-control" placeholder="">
									</div>
									<div class="col-3">
										<input type="text" class="form-control" placeholder="">
									</div>
									<div class="col-4">
										<input type="text" class="form-control" placeholder="">
									</div>
								</div>

							</div>

							<div class="col">
								<label class="my-1 mr-2"><b>Public Email For Inquiries & Appointments</b></label>
								<input type="email" class="form-control" placeholder="">
							</div>


						</div>
					</div>

					<div class="form-group">
							<div class="form-row">
								<div class="col">
									<label><b>Address Line 1</b><span style="color: red;">*</span></label>
									<input type="text" class="form-control" placeholder="Address Line 1" />
								</div>
						
								<div class="col">
									<label><b>Address Line 2</b></label>
									<input type="text" class="form-control" placeholder="Address Line 2" />
								</div>
							</div>
						</div>
	
						
	
						<div class="form-group">
							<div class="form-row">
								<div class="col">
									<label class="my-1 mr-2"><b>City</b><span style="color: red;">*</span></label>
									<input type="text" class="form-control" placeholder="City">
								</div>
	
								<div class="col">
									<label class="my-1 mr-2"><b>State</b><span style="color: red;">*</span></label>
									<select class="custom-select ">
										<option selected>Choose...</option>
										<option value="Alabama">Alabama</option>
										<option value="Alaska">Alaska</option>
										<option value="Alberta">Alberta</option>
										<option value="American Samoa">American Samoa</option>
										<option value="Arizona">Arizona</option>
										<option value="Arkansas">Arkansas</option>
										<option value="British Columbia">British Columbia</option>
										<option value="California">California</option>
										<option value="Colorado">Colorado</option>
										<option value="Connecticut">Connecticut</option>
										<option value="Delaware">Delaware</option>
										<option value="District of Columbia">District of Columbia</option>
										<option value="Federated States of Micronesia">Federated States of Micronesia
										</option>
										<option value="Florida">Florida</option>
										<option value="Georgia">Georgia</option>
										<option value="Guam">Guam</option>
										<option value="Hawaii">Hawaii</option>
										<option value="Idaho">Idaho</option>
										<option value="Illinois">Illinois</option>
										<option value="Indiana">Indiana</option>
										<option value="Iowa">Iowa</option>
										<option value="Kansas">Kansas</option>
										<option value="Kentucky">Kentucky</option>
										<option value="Louisiana">Louisiana</option>
										<option value="Maine">Maine</option>
										<option value="Manitoba">Manitoba</option>
										<option value="Marshall Islands">Marshall Islands</option>
										<option value="Maryland">Maryland</option>
										<option value="Massachusetts">Massachusetts</option>
										<option value="Michigan">Michigan</option>
										<option value="Minnesota">Minnesota</option>
										<option value="Mississippi">Mississippi</option>
										<option value="Missouri">Missouri</option>
										<option value="Montana">Montana</option>
										<option value="Nebraska">Nebraska</option>
										<option value="Nevada">Nevada</option>
										<option value="New Brunswick">New Brunswick</option>
										<option value="Newfoundland">Newfoundland</option>
										<option value="New Hampshire">New Hampshire</option>
										<option value="New Jersey">New Jersey</option>
										<option value="New Mexico">New Mexico</option>
										<option value="New York">New York</option>
										<option value="Non-US">Non-US</option>
										<option value="North Carolina">North Carolina</option>
										<option value="North Dakota">North Dakota</option>
										<option value="Northern Mariana Islands">Northern Mariana Islands</option>
										<option value="Nova Scotia">Nova Scotia</option>
										<option value="Nunavut">Nunavut</option>
										<option value="Northwest Territories">Northwest Territories</option>
										<option value="Ohio">Ohio</option>
										<option value="Oklahoma">Oklahoma</option>
										<option value="Ontario">Ontario</option>
										<option value="Oregon">Oregon</option>
										<option value="Palau">Palau</option>
										<option value="Pennsylvania">Pennsylvania</option>
										<option value="Prince Edward Island">Prince Edward Island</option>
										<option value="Puerto Rico">Puerto Rico</option>
										<option value="Quebec">Quebec</option>
										<option value="Rhode Island">Rhode Island</option>
										<option value="Saskatchewan">Saskatchewan</option>
										<option value="South Carolina">South Carolina</option>
										<option value="South Dakota">South Dakota</option>
										<option value="Tennessee">Tennessee</option>
										<option value="Texas">Texas</option>
										<option value="Utah">Utah</option>
										<option value="Vermont">Vermont</option>
										<option value="Virginia">Virginia</option>
										<option value="Virgin Islands">Virgin Islands</option>
										<option value="Washington">Washington</option>
										<option value="West Virginia">West Virginia</option>
										<option value="Wisconsin">Wisconsin</option>
										<option value="Wyoming">Wyoming</option>
										<option value="Yukon">Yukon</option>
									</select>
								</div>
	
								<div class="col">
									<label class="my-1 mr-2"><b>Zip</b><span style="color: red;">*</span></label>
									<input type="text" class="form-control" placeholder="Zip">
								</div>
							</div>
							</div>



					

					<div style="margin-bottom:12px;">
						<b>
							Terms of Service
						</b>
					</div>

					<div class="alert alert-light" role="alert"
						style="height:360px;overflow-y:scroll;padding:0px 1px;font-size:10px;margin-bottom:12px;">
						<p style="margin-top:0px;">Date of Last Revision: August 18, 2015.</p>
						<p>These Terms of Service (these "Terms") state the requirements of Vivacare, Inc.
							("Vivacare")
							for the use of its Service and any of the content it makes available through its
							Service.
						</p>
						<p>By using the Vivacare Service, you are agreeing to these Terms. If you do not agree
							to abide
							by all of the provisions contained in these Terms, you must not use or access the
							Services.
						</p>
						<p>VIVACARE RESERVES THE RIGHT TO MODIFY THE TERMS AT ANY TIME BY POSTING SUCH
							MODIFICATIONS ON
							THIS PAGE. CONTINUED ACCESS OR USE OF ANY OF THE SERVICES BY FOLLOWING SUCH POSTING
							SHALL BE
							DEEMED CONCLUSIVE ACCEPTANCE OF THE MODIFIED AGREEMENT.</p>
						<h2>Medical Professional Users</h2>
						<p>The Service is designed for use by medical professionals. Accordingly, Vivacare
							reserves the
							right to limit access to the Service to medical professionals who register and meet
							the
							qualifications imposed by Vivacare.</p>
						<p>To register, a medical professional must provide Vivacare with certain personal
							information,
							including his or her name, profession, a valid and functioning email address, postal
							address, and other contact information. Additional information may be requested by
							Vivacare,
							if necessary, to confirm the identity of the User and his or her qualifications as a
							medical
							professional or role in support of a medical professional.</p>
						<p>The User also represents and warrants he or she is a licensed healthcare professional
							in good
							standing in the state in which the User provides care, or is presently employed by a
							licensed healthcare professional in good standing in the state in which the
							professional
							provides care.</p>
						<h2>The Vivacare Service is available for Users to do the following:</h2>
						<ol>
							<li><strong>Access Vivacare patient education content.</strong> The User is provided
								a
								Health Library ("Library") that displays copyright protected health information.
								The
								User’s Library is found at a unique URL on one or more website domains
								controlled by
								Vivacare. Each user is provided a limited license to print content found within
								the
								User’s Library and display that content on a mobile device. The User may not
								under any
								circumstances display, transfer, publish or upload Vivacare patient education
								content to
								another server or domain name.</li>
							<li><strong>Link to Vivacare patient education content.</strong> The User may add
								links from
								his or her own website(s) to the health information found on the User’s Library.
							</li>
							<li><strong>Personalize the patient education content with a personal or
									organization’s
									name.</strong> Some of the content within the User’s Library may display the
								name of
								the User or the name of the medical organization with which the User is
								affiliated if
								that organization explicitly approves the use of its name on the Library.</li>
							<li><strong>Publish custom patient education content online.</strong> The User may
								publish
								his or her own content, including text documents, photographs, images, and other
								multimedia content for display on the User’s Library.</li>
							<li><strong>Publish professional information online.</strong> The User may publish
								his or
								her biography and photograph on the Library.</li>
							<li><strong>Publish practice information online.</strong> The User may publish
								information
								about the organization in which he or she provides care, such as practice
								locations and
								office hours, within the Library.</li>
						</ol>
						<p>Vivacare may also make future enhancements to the Service from time to time.</p>
						<h2>Use by Residents of the United States of America</h2>
						<p>Vivacare controls and operates this Service from the United States of America. This
							Service
							is intended for use by medical professionals within the United States only. If you
							are a
							non-U.S. resident, you may use this service solely at your own risk and are
							responsible for
							compliance with local laws and regulations, if applicable. Any reference to products
							or
							services does not imply that Vivacare intends to announce or offer them in your
							country.</p>
						<h2>Accurate User Information</h2>
						<p>The User agrees to provide accurate and current information to Vivacare. The User
							agrees not
							to impersonate any person or entity, misrepresent its affiliation with a person or
							entity or
							its authority from such person or entity, or misrepresent the origin of any content
							posted
							on, or distributed through, the Vivacare Service.</p>
						<p>The User must not use the services under the auspices of an organization if he or she
							is not
							an authorized representative of that organization.</p>
						<p>
							It is the User's responsibility to inform Vivacare of any changes to that
							information by
							updating the information accessible in the User's online account ("User Account") or
							by
							contacting customer support at <a
								href="mailto:support@vivacare.com">support@vivacare.com</a> .
						</p>
						<h2>Operation and Modifications</h2>
						<p>The User acknowledges that Vivacare has the right to terminate, suspend, and modify
							in any
							manner the features, capabilities, functions and other aspects of the Service at any
							time in
							its sole discretion. Vivacare reserves the right to modify or discontinue the
							Vivacare
							Service, temporarily or permanently, with or without notice to the User and is not
							obligated
							to support or update the Vivacare Service. Vivacare shall not be liable to the User,
							or any
							third party in the event that Vivacare exercises its right to modify or discontinue
							the
							Vivacare Service. Unless explicitly stated otherwise, any new features that augments
							or
							enhances the current Vivacare Service shall be subject to these Terms.</p>
						<p>Vivacare cannot guarantee the availability of the Service and reserves the right to
							change,
							withdraw, suspend or discontinue the Service, or any function or feature thereof, at
							any
							time. Vivacare also has the right to withdraw, suspend, discontinue or restrict
							access to
							any functionality or feature of the Service available to the User and to suspend or
							terminate access by the User or any designated representatives of the User to the
							Service or
							any portion, function or feature thereof at any time.</p>
						<p>
							<strong>The User will not</strong> rely on Vivacare to preserve any medical
							information as
							part of a patient's medical record. The User agrees to release and indemnify
							Vivacare from
							any liability that may arise from not preserving any medical information.
						</p>
						<p>Vivacare will, at its own discretion, determine when to inform the User of changes to
							the
							Service, and which changes to communicate. Vivacare may, at its own discretion,
							institute
							changes to the Service, including the content displayed in the Library without the
							User
							approving the changes or taking any action.</p>
						<p>If Vivacare communicates a change to the Service, it will do so by sending a message
							to the
							email addresses of the User.</p>
						<p>The User acknowledges that it is the User's responsibility to conduct regular reviews
							of the
							Content displayed on the Library to ensure that such Content is accurate and
							acceptable to
							the User.</p>
						<h2>License</h2>
						<p>Subject to the terms and conditions of this Agreement, Vivacare grants the User a
							non-exclusive, non-transferable, limited license to use the Service and any software
							made
							available by Vivacare to the User for using the Service for the term of this
							Agreement.</p>
						<p>The User’s license to use the Service and its associated content is limited to the
							internal
							use by the User.</p>
						<p>
							<strong>The User agrees not to resell or make any commercial use of the Service
								without the
								express written consent of Vivacare.</strong>
						</p>
						<p>Except as provided above, the User may not use, download, upload, copy, print,
							display,
							perform, reproduce, publish, license, post, transmit, frame, mirror on another Web
							service,
							use any meta tags, inline any graphics or distribute any Content or information from
							the
							Vivacare Service in whole or in part without the express permission of Vivacare.</p>
						<p>
							Requests for such permission should be made to <a
								href="mailto:support@vivacare.com">support@vivacare.com</a>.
						</p>
						<p>Any rights not expressly granted herein are reserved. Please be advised that Vivacare
							enforces its intellectual property rights to the fullest extent of the law.</p>
						<h2>User Accounts</h2>
						<p>The Service is established and controlled by the User through an account ("User
							Account")
							created and maintained with Vivacare in accordance with the terms of this Service
							Agreement.
							A User Account is established by the completion of the online Registration form
							located on
							websites controlled by Vivacare, including but not limited to vivacare.com and
							informationrx.com.</p>
						<p>Email addresses for the User are provided to Vivacare for the delivery of service
							updates and
							other announcements though Vivacare cannot guarantee the delivery of its messages to
							the
							User.</p>
						<p>Upon registering, the User may provide others with the capability ("Administrative
							Privileges") that enable them to make changes to the User Account on behalf of the
							User,
							including but not limited to the ability to assign similar administrative privileges
							to
							others. The User and those with appropriate Administrative Privileges may delete the
							User’s
							account at any time.</p>
						<p>The User is responsible for ensuring that all others who are given Administrative
							Privileges
							accept and comply with these Terms and manage the User Account in a manner
							consistent with
							the User’s wishes.</p>
						<p>All modifications made to the User Account are the responsibility of the User and
							those
							assigned Administrative Privileges of that User Account.</p>
						<p>Without limiting any of its available rights or remedies, and not withstanding
							anything
							herein to the contrary, Vivacare may, but is not obligated to terminate, restrict or
							suspend
							the User Account for any reason.</p>
						<p>The provision of the Service by Vivacare does not constitute or imply any endorsement
							or
							approval by Vivacare of the User, his or her medical organization, or any of its
							employees
							or their qualifications, or of any of the information or other Content provided by
							the User.
						</p>
						<h2>Account Security</h2>
						<p>Users of the Vivacare service agree to maintain the security of their User Accounts.
						</p>
						<ol>
							<li>The User will not provide any false personal information on Vivacare, or create
								an
								account for anyone else without that other person’s permission.</li>
							<li>The User will not create more than one User account.</li>
							<li>If Vivacare disables the User Account, that individual will not create another
								User
								Account without Vivacare’s permission.</li>
							<li>The User will keep contact information accurate and up-to-date.</li>
							<li>If the User selects a name, URL for the Library or other identifier, Vivacare
								reserves
								the right to remove or reclaim the name if it believes it is appropriate (such
								as when a
								trademark owner complains about the name being displayed on the Library that
								does not
								closely relate to a User's actual name or the User does not have explicit
								permission to
								use an organization’s name).</li>
						</ol>
						<h2>User's Responsibilities</h2>
						<p>The User agrees not to post, upload, email, transmit, distribute or otherwise publish
							or
							permit on or through the Service any of the following:</p>
						<ul>
							<li>Content that is unlawful, libelous, defamatory, obscene, pornographic, indecent,
								lewd,
								harassing, abusive, threatening, harmful, negligent, invasive of privacy or
								publicity
								rights, inflammatory, fraudulent, or misleading or that impersonates any person
								or
								entity or otherwise misrepresents the status or affiliation of the individual
								with any
								other person or entity;</li>
							<li>Content that would constitute, encourage or provide instructions for a criminal
								offense,
								violate the rights of any party, or that would otherwise create liability or
								violate any
								local, state, national, or international law</li>
							<li>Content that may infringe any patent, trademark, trade secret, copyright or
								other
								intellectual or proprietary right of any party. By posting, or permitting the
								posting
								of, any content on or through the Service, the User represents and warrants that
								he or
								she has the lawful right to distribute and reproduce such Content;</li>
							<li>Private information of any third party, including without limitation addresses,
								phone
								numbers, email addresses, Social Security numbers and credit card numbers,
								without the
								express permission of such party and in full compliance with all applicable laws
								and
								Vivacare policies applicable to such information;</li>
							<li>Viruses, corrupted data or other harmful, disruptive or destructive files;</li>
							<li>Unsolicited promotions, advertising or solicitations for funds, goods or
								services,
								including junk mail, chain letters and spam; and</li>
							<li>Content that, in the sole judgment of Vivacare, is objectionable or which
								restricts or
								inhibits any other person from using or enjoying the Service, or which exposes
								Vivacare
								or its employees, site partners, contributors or other users of the Service to
								any harm
								or liability of any type.</li>
						</ul>
						<p>Any use of the Service in violation of the foregoing is in violation of this
							Agreement and
							may result in, among other things, the termination of the User Account and access to
							the
							Service.</p>
						<h2>Proprietary Rights</h2>
						<p>All of the trademarks, service marks and logos displayed through the Service or on
							websites
							controlled by Vivacare are registered or unregistered trademarks of Vivacare, its
							affiliates
							or subsidiaries, or third parties who have licensed their trademarks to Vivacare or
							one of
							its affiliates or subsidiaries.</p>
						<p>In addition, all Content, including but not limited to text, software, music, sound,
							photographs, videos, graphics or other material distributed through the Vivacare
							service or
							displayed on websites controlled by Vivacare is protected by copyright, patents or
							other
							proprietary agreements and laws and the User is only permitted to use the Content as
							expressly authorized by Vivacare, its affiliates or its licensors.</p>
						<p>Nothing contained herein transfers any right, title, or interest in the Vivacare
							Service,
							Content or Websites to the User, his or her medical organization, nor others within
							the
							User’s organization.</p>
						<h2>No Medical Advice</h2>
						<p>The Vivacare Service may include health information, references, and medical content.
							This
							content is not intended to give professional medical advice, nor used in place of a
							visit,
							call, consultant with or the advice of a licensed health care provider.</p>
						<p>Physicians and other medical professionals should always exercise their own clinical
							judgment
							in the provision and communication of medical care.</p>
						<h2>Optional Service Fees</h2>
						<p>Vivacare may make additional services available that require payment of an optional
							fee.
							These additional services may be made available as a feature enhancement of the
							User’s
							Vivacare Health Library and/or the User’s Vivacare Account.</p>
						<p>These optional services may include, but are not limited to, additional patient
							education
							content licensed from medical publishers and alternative means of distributing
							patient
							education content to individuals.</p>
						<p>It is the discretion of the User whether to make use of these optional services and
							to pay
							the required fee.</p>
						<p>Use of these additional services may require that the User accept a Terms of Use that
							is
							separate and distinct from these Terms. The acceptance of other Terms of Use
							regarding other
							services does not in any way alter the User’s agreement to abide by all the
							provisions
							contained in these Terms.</p>
						<h2>User Submission of Media</h2>
						<p>The User may use the Service to publish content to websites controlled by Vivacare.
							The User
							must agree to the following conditions regarding to the provision (uploading) of
							such
							content.</p>
						<ul>
							<li>The User must have the rights to the content prior to uploading it. The User
								agrees to
								only post or upload media, such as text that has been authored by the User or
								photographs that have been taken by the User for which they User has all rights
								to post,
								to transmit and license, and which do not violate copyright, trademark, privacy
								or other
								rights of any other person.</li>
							<li>By uploading any content onto the Vivacare service, you are representing and
								warranting
								that you have permission from all persons appearing in your media for you to use
								the
								media in this way, and to grant the rights described in these Terms. The User
								agrees to
								never post a picture of someone else, or which includes someone else, unless
								they have
								that person’s explicit permission.</li>
							<li>The User grants Vivacare the right to display content that the User uploads to
								the
								Vivacare service. By uploading any media, like a photo, (a) you grant to
								Vivacare a
								perpetual, non-exclusive, worldwide, royalty-free license to use, copy, print,
								display,
								reproduce, modify, publish, post, transmit and distribute the media and any
								material
								included in the media; and (b) you certify that any person pictured in the
								submitted
								media (or, if a minor, his/her parent/legal guardian) authorizes Vivacare to
								use, copy,
								print, display, reproduce, modify, publish, post, transmit and distribute the
								media and
								any material included in such media; and (c) you agree to indemnify Vivacare and
								its
								affiliates, directors, officers and employees and hold them harmless from any
								and all
								claims and expenses, including attorneys' fees, arising from the media and/or
								your
								failure to comply with these the terms described in this document.</li>
							<li>The User understands that Vivacare can review and reject any content submission.
								Vivacare reserves the right to review all media or any other submission prior to
								or
								after submission to any of its websites and to remove any media or any
								submission for
								any reason, at any time, without prior notice, at our sole discretion.</li>
						</ul>
						<h2>Monitoring of the Content By Vivacare</h2>
						<p>The User acknowledges that Vivacare has no obligation to screen or monitor any of the
							Content
							delivered through the Service, including but not limited to Vivacare content
							displayed
							within the Library.</p>
						<p>Vivacare does not exercise editorial control over any such Content and Vivacare shall
							have no
							responsibility or liability of any kind in connection with such Content or for any
							mistakes,
							omissions, defamation, slander, libel, falsehoods, obscenity, pornography or
							profanity
							contained therein or that may be encountered by the User while using the Service.
						</p>
						<h2>Privacy Policy</h2>
						<p>
							Please see our Privacy Policy (<a
								href="http://informationrx.com/Home/Privacy">http://informationrx.com/Home/Privacy</a>)
							for a detailed description of our information gathering and dissemination practices.
						</p>
						<p>This policy shall apply to any use of Vivacare Services by the User and any visitors
							to
							websites controlled by Vivacare.</p>
						<p>The Users agrees that all use of any information obtained through any use of the
							Service
							shall comply with the Vivacare Privacy Policy and all applicable laws and
							regulations
							applicable to such information.</p>
						<h2>Disclaimer of Warranties</h2>
						<p>THE USER EXPRESSLY AGREES THAT THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS
							AVAILABLE" BASIS
							AND THAT USE OF THE SERVICE (AND ANY INFORMATION CONTAINED THEREIN) IS AT THE USER'S
							SOLE
							RISK. EXCEPT AS EXPRESSLY SET FORTH IN THIS AGREEMENT, VIVACARE EXPRESSLY DISCLAIMS
							ALL
							WARRANTIES OF ANY KIND WITH RESPECT TO THE SERVICE AND THE INFORMATION CONTAINED
							THEREIN,
							WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO WARRANTIES OF TITLE AND
							NON-INFRINGEMENT AND IMPLIED WARRANTIES OF MERCHANTABILITY, AND FITNESS FOR A
							PARTICULAR
							PURPOSE.</p>
						<p>WITHOUT LIMITING THE FOREGOING, VIVACARE MAKES NO WARRANTY THAT THE SERVICE WILL BE
							UNINTERRUPTED, TIMELY, SECURE, OR ERROR FREE OR THAT DEFECTS IN THE SERVICE WILL BE
							CORRECTED. NOR DOES VIVACARE MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE
							OBTAINED FROM
							THE USE OF THE SERVICE OR AS TO THE ACCURACY, TIMELINESS, COMPLETENESS, ADEQUACY,
							SUITABILITY, USEFULNESS OR RELIABILITY OF THE SERVICE OR ANY INFORMATION OBTAINED
							THROUGH
							THE SERVICE. THE USER MUST USE HIS OR HER DISCRETION AND INDEPENDENT JUDGEMENT WHILE
							VIEWING
							OR USING THE SERVICE. USER AGREES THAT VIVACARE IS NOT LIABLE TO USER, OR ANYONE
							ELSE FOR
							ANY DIAGNOSIS, TREATMENT OR DECISION MADE OR FOR ANY ACTION TAKEN IN RELIANCE ON THE
							INFORMATION PROVIDED THROUGH THE SERVICE. VIVACARE ASSUMES NO RESPONSIBILITY FOR THE
							DELETION OF OR FAILURE TO STORE OR TIMELY DELIVER, EMAIL OR OTHER MESSAGES.</p>
						<p>VIVACARE CANNOT AND DOES NOT WARRANT AGAINST HUMAN AND MACHINE ERRORS, OMISSIONS,
							DELAYS,
							INTERRUPTIONS OR LOSSES, INCLUDING LOSS OF DATA. USER AGREES THAT ANY MATERIAL
							AND/OR DATA
							DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS DONE AT USER'S
							OWN
							DISCRETION AND RISK AND THAT USER WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO
							USER'S
							COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM SUCH DOWNLOADING. VIVACARE CANNOT
							AND DOES
							NOT GUARANTEE OR WARRANT THAT FILES AVAILABLE FOR DOWNLOADING FROM THE SERVICE WILL
							BE FREE
							OF INFECTION BY VIRUSES, WORMS, TROJAN HORSES OR OTHER CODE THAT MANIFEST
							CONTAMINATING OR
							DESTRUCTIVE PROPERTIES.</p>
						<h2>Limitation of Liability</h2>
						<p>VIVACARE WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, EXEMPLARY, PUNITIVE,
							INCIDENTAL OR CONSEQUENTIAL DAMAGES OF ANY KIND (INCLUDING LOST PROFITS, LOSS OF
							USE,
							INTERRUPTION OF BUSINESS), REGARDLESS OF THE FORM OF ACTION, ARISING FROM THE USE OF
							OR
							INABILITY TO USE THE SERVICE (OR ANY INFORMATION CONTAINED THEREIN). WITHOUT
							LIMITING THE
							FOREGOING, IN NO EVENT SHALL VIVACARE'S LIABILITY UNDER THIS AGREEMENT EXCEED THE
							AMOUNT, IF
							ANY, ACTUALLY RECEIVED BY VIVACARE FROM THE USER FOR THE USE OF THE SERVICE.</p>
						<h2>Repeat Infringer Policy</h2>
						<p>Vivacare may, in appropriate circumstances and at its discretion, terminate the
							Account of
							the User that infringes the intellectual property rights of others.</p>
						<h2>Indemnification</h2>
						<p>The User agrees to defend, indemnify and hold harmless Vivacare, and its directors,
							affiliates, officers, employees, agents, licensors, suppliers, and any professional
							associations that may offer, promote or suggest the Service, from and against any
							claim,
							demand, liability, losses, expenses and costs (including, but not limited to,
							reasonable
							attorneys' fees) arising out of (a) the use of the Service by the User and the
							User’s
							patients, (b) any Content posted on or through the Service, (c) any activity related
							to the
							Account (d) the violation or breach of this Agreement by the User, (e) the
							infringement by
							the User’s computer or account, of any proprietary or intellectual property right of
							any
							third party, (f) the disclosure or handling of any information obtained by the User
							on or
							through the Service, or (g) any dispute regarding the right to establish, modify,
							access or
							control the User’s portion of the Service.</p>
						<h2>Termination</h2>
						<p>Vivacare may terminate the Service with or without cause at any time and effective
							immediately by notice to the User. Vivacare shall not be liable to the User, or any
							third
							party for termination of the Service.</p>
						<p>Should the User object to any terms and conditions of this Agreement, or to any
							subsequent
							modifications hereto, or become dissatisfied with the Service in any way, the User's
							only
							recourse is to immediately: (1) discontinue use of the Service; (2) terminate the
							User
							Account; and (3) notify Vivacare of termination.</p>
						<p>If either party discontinues the Service, Vivacare retains the right to maintain data
							associated with the User.</p>
						<h2>Notice</h2>
						<p>
							Except as otherwise provided herein, all notices to either party shall be made in
							writing by
							conventional certified mail, postage prepaid and return receipt requested or by
							email. The
							User may give notice to Vivacare at any time via electronic mail to <a
								href="mailto:support@vivacare.com">support@vivacare.com</a> or by certified mail
							or
							overnight courier to the following address:
						</p>
						<p>
							Vivacare<br>
							2560 Ninth St., Suite 123B<br>
							Berkeley, CA 94710<br>
							Attn: Professional Account
						</p>
						<h2>General</h2>
						<p>This Agreement shall for all purposes be governed by and interpreted in accordance
							with the
							laws of the state of California. Any suit or proceeding arising out of or relating
							to this
							Agreement shall be commenced in a court of competent jurisdiction sitting in Alameda
							County,
							California, and each party irrevocably submits to the jurisdiction and venue of such
							courts.
						</p>
						<p>Vivacare's failure to insist upon or enforce strict performance of any provision of
							this
							Agreement shall not be construed as a waiver of any provision or right hereunder.
						</p>
						<p>No right under this Agreement may be assigned, and no duty under this Agreement may
							be
							delegated by either party, except with the prior written consent of the other party.
							However, Vivacare shall be entitled to assign this Agreement, and all rights and
							obligations
							hereunder, to a successor to all or substantially all of its assets, whether by
							sale, merger
							or otherwise. This Agreement shall be binding upon and shall inure to the benefit of
							the
							parties hereto and their respective representatives, heirs, administrators,
							successors and
							permitted assigns except as otherwise provided herein.</p>
						<p>If any provision(s) of this Agreement is held by a court of competent jurisdiction to
							be
							contrary to law or to be otherwise invalid or unenforceable, then such provision(s)
							shall be
							construed, as nearly as possible, to reflect the intentions of the parties with the
							other
							provisions remaining in full force and effect, and the remaining provisions of this
							Agreement will remain in full force and effect.</p>
						<p>The User agrees that any claim or cause of action arising out of or related to the
							Service or
							this Agreement must be commenced within one (1) year after the claim or cause of
							action
							arises; otherwise, such claim or cause of action shall be permanently barred.</p>
					</div>

					<div class="form-group">
						<div class="custom-control custom-checkbox my-1 mr-sm-2" style="margin-bottom:14px;">
							<input type="checkbox" class="custom-control-input" id="7">
							<label class="custom-control-label" for="7">
								Agree to Terms of Service
							</label>
							<span style="color: red;">*</span>
						</div>
					</div>

					<div class="g-recaptcha" data-sitekey="6LdzRaAUAAAAAHlasyaouLMr274G7uXWI4NAAEA2"></div>



					<button type="button" class="btn btn-success btn-block">Create My
						Account</button>
				</div>




			</div> <!-- box -->


		</div> <!-- col-sm-8 -->

	</div>

</div>