<div class="registration">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col">
			</div>

			<div class="col-sm-12 col-md-10">

				<div class="box2">
					<h1>
						Reports
					</h1>

          <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
          <canvas id="myChart"></canvas>
          <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
              // The type of chart we want to create
              type: 'line',

              // The data for our dataset
              data: {
                labels: ['Tue. 1/11', 'Wed. 1/12', 'Thu. 1/13', 'Fri. 1/14', 'Sat. 1/15', 'Sun. 1/16', 'Mon. 1/17'],
                datasets: [{
                  label: 'Toolkit Views',
                  backgroundColor: '#007bff77',
                  borderColor: '#007bff',
                  data: [0, 10, 5, 22, 20, 30, 13]
                }, {
                  label: 'Profile Views',
                  backgroundColor: '#28a74577',
                  borderColor: '#28a745',
                  data: [0, 20, 5, 2, 20, 30, 3]
                },]
              },

              // Configuration options go here
              options: {}
            });
          </script>
          <div class="row" style="text-align:center;margin: 20px 0px;">
            <div class="col-sm-6">
              <h4>
                Toolkit Views: 69
              </h4>
            </div>

            <div class="col-sm-6">
              <h4>
                Profile Views: 74
              </h4>
            </div>
          </div>
        

					<h4>
						Content
					</h4>

					<h6>
						Top Ten Titles
					</h6>
					<ol>
						<li>Title - 10 views</li>
						<li>Title - 10 views</li>
						<li>Title - 10 views</li>
						<li>Title - 10 views</li>
						<li>Title - 10 views</li>
						<li>Title - 10 views</li>
						<li>Title - 10 views</li>
						<li>Title - 10 views</li>
						<li>Title - 10 views</li>
						<li>Title - 10 views</li>
					</ol>
						
					<hr>

					<h4>
						App
					</h4>
					
					<hr>

					<h4>
						Survey
					</h4>

					<hr>
	
				</div> <!-- box -->
			</div> <!-- col-sm-8 -->

			<div class="col">
			</div>
		</div>
	</div>

</div>