<div class="registration">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col">
			</div>

			<div class="col-sm-12 col-md-10">

				<div class="box2">
					<h1>
						Reports
					</h1>

          <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
          
        

					<h4>
						Content
					</h4>

					<h6>
						Top Ten Titles
					</h6>
					<ol>
						<li>Title - 10 views</li>
						<li>Title - 10 views</li>
						<li>Title - 10 views</li>
						<li>Title - 10 views</li>
						<li>Title - 10 views</li>
						<li>Title - 10 views</li>
						<li>Title - 10 views</li>
						<li>Title - 10 views</li>
						<li>Title - 10 views</li>
						<li>Title - 10 views</li>
					</ol>

					<hr>

					<h4>
						Learning Guide Views
					</h4>	


					<h6>
						Patient Views over last 180 days.
					</h6>
					<hr>

					<h4>
						App
					</h4>
					
					<div class="">
							Number of app downloads: 76
					</div>

				</div> <!-- box -->
			</div> <!-- col-sm-8 -->

			<div class="col">
			</div>
		</div>
	</div>

</div>

