<div class="registration">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-sm-12 col-md-10">

                <div class="box2">
                    <h1>
                        Survey
                    </h1>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Display On Toolkit
                        </label>
                    </div>
                </div> <!-- box -->

                <div class="box2">
                    <h4>Collect Survey Results</h4>
                    <div style="margin-bottom:12px;">
                        <div>
                            How would you rate the care you received (1-10). Average = 10
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                            <label class="form-check-label" for="defaultCheck2">
                                Display On Your Profile
                            </label>
                        </div>
                    </div>

                    <div>
                        <div>
                            How likely are you to recommend this person? (1-10). Average = 10
                        </div>


                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                            <label class="form-check-label" for="defaultCheck3">
                                Display On Your Profile
                            </label>
                        </div>

                    </div>
                </div>

                <div class="box2">
                    <h4>
                        Patient Comments
                    </h4>

                    <div style="margin-bottom:12px;">
                        <i>9/16/2009</i>
                        <div>
                            Comment 1
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                            <label class="form-check-label" for="defaultCheck4">
                                Display On Your Profile
                            </label>
                        </div>
                    </div>

                    <div style="margin-bottom:12px;">
                            <i>9/16/2009</i>

                        <div>
                            Comment 2
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                            <label class="form-check-label" for="defaultCheck5">
                                Display On Your Profile
                            </label>
                        </div>
                    </div>

                    <div style="margin-bottom:12px;">
                            <i>9/16/2009</i>

                        <div>
                            Comment 3
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
                            <label class="form-check-label" for="defaultCheck7">
                                Display On Your Profile
                            </label>
                        </div>
                    </div>

                    <div style="margin-bottom:12px;">
                            <i>9/16/2009</i>

                        <div>
                            Comment 4
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
                            <label class="form-check-label" for="defaultCheck9">
                                Display On Your Profile
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- col-sm-8 -->

    </div>
</div>