<div class="registration">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
            </div>

            <div class="col-sm-12 col-md-10">

                <div class="box2">
                    <h1>
                        Survey
                    </h1>


                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                        <label class="custom-control-label" for="customSwitch1">Display on Toolkit</label>
                    </div>
                </div> <!-- box -->

                <div class="surveys">

                    <script>
                        setTimeout(function () {
                            $(".surveys").sortable();

                        }) 
                    </script>
                    <div class="box2">

                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3>How would you rate the care you received?</h3>

                        <b>Average Score:</b> 6
                    </div>

                    <div class="box2">

                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3>How would you rate the care you received?</h3>

                        <b>Average Score:</b> 0
                    </div>

                </div>

                <div class="box2">
                    <h5>
                        Add Question
                    </h5>
                    <div class="form-group">
                        <input class="form-control survey-input" type="text" />
                    </div>
                    <script>
                        function go() {
                            $('.surveys').append('<div class= "box2"><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button><h3>' + $('.survey-input').val() + '</h3><b>Average Score:</b> 0</div >')
                            $('.survey-input').val("");
                            setTimeout(function () {
                                $(".surveys").sortable();
                            })
                        }
                    </script>
                    <div class="btn btn-primary" onclick="go()">
                        Add
                    </div>


                </div>

            </div> <!-- col-sm-8 -->

            <div class="col">
            </div>
        </div>
    </div>

</div>