<div class="registration">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-sm-12 col-md-10">

                <div class="box2">
                    <h1>
                        Survey
                    </h1>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="option1" checked>
                        <label class="form-check-label" for="inlineRadio1">Display Survey</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">Do Not Display Survey</label>
                    </div>
                </div> <!-- box -->

                <div class="box2">
                    <h4>Results</h4>
                    <div style="margin-bottom:12px;">
                        <div>
                            How would you rate the care you received (1-10). Average = 10
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio111"
                                value="option1" checked>
                            <label class="form-check-label" for="inlineRadio111">display on your profile</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2222"
                                value="option2">
                            <label class="form-check-label" for="inlineRadio2222">do not display on your
                                profile</label>
                        </div>
                    </div>

                    <div>
                        <div>
                            How likely are you to recommend this person? (1-10). Average = 10
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio5"
                                value="option1" checked>
                            <label class="form-check-label" for="inlineRadio5">display on your profile</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio6"
                                value="option2">
                            <label class="form-check-label" for="inlineRadio6">do not display on your
                                profile</label>
                        </div>

                    </div>
                </div>

                <div class="box2">
                    <h4>
                        Patient Comments
                    </h4>

                    <div style="margin-bottom:12px;">
                        <div>
                            Comment 1
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptionstt" id="inlineRadio1tt"
                                value="option1" checked>
                            <label class="form-check-label" for="inlineRadio1tt">display on your profile</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptionstt" id="inlineRadio2tt"
                                value="option2">
                            <label class="form-check-label" for="inlineRadio2tt">do not display on your
                                profile</label>
                        </div>
                    </div>

                    <div style="margin-bottom:12px;">
                            <div>
                                Comment 2
                            </div>
    
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptionsbb" id="inlineRadio1bb"
                                    value="option1" checked>
                                <label class="form-check-label" for="inlineRadio1bb">display on your profile</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptionsbb" id="inlineRadio2bb"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2bb">do not display on your
                                    profile</label>
                            </div>
                    </div>

                    <div style="margin-bottom:12px;">
                            <div>
                                Comment 3
                            </div>
    
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptionsyy" id="inlineRadio1yy"
                                    value="option1" checked>
                                <label class="form-check-label" for="inlineRadio1yy">display on your profile</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptionsyy" id="inlineRadio2yy"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2yy">do not display on your
                                    profile</label>
                            </div>
                    </div>

                    <div style="margin-bottom:12px;">
                            <div>
                                Comment 4
                            </div>
    
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptionsxx" id="inlineRadio1xx"
                                    value="option1" checked>
                                <label class="form-check-label" for="inlineRadio1xx">display on your profile</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptionsxx" id="inlineRadio2xx"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2xx">do not display on your
                                    profile</label>
                            </div>
                    </div>
                </div>
            </div>
        </div> <!-- col-sm-8 -->

    </div>
</div>
