<div class="registration">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
      </div>

      <div class="col-sm-12 col-md-10">

        <div class="box2">
          <h1>Toolkit</h1>



          <div style="margin-bottom:8px;">
            Filter:
            <a href="#">
              All
            </a>
            |
            <a href="#">
              Condition
            </a>
            |
            <a href="#">
              Device
            </a>
            |
            <a href="#">
              General
            </a>
            |
            <a href="#">
              Medication
            </a>
            |
            <a href="#">
              Procedure
            </a>
            |
            <a href="#">
              Test
            </a>
            |
            <a href="#">
              Unassigned
            </a>
            |
            <a href="#">
              List all Titles
            </a>
          </div>

          <hr>
          <div class="row">
            <div class="col-1" style="text-align:center;padding-right:0px;">
              <div class="custom-control custom-switch" style="display:inline;">
                <input type="checkbox" class="custom-control-input" id="customSwitch333">
                <label class="custom-control-label" for="customSwitch333"></label>
              </div>
            </div>

            <div class="col-11">
              <a data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
                aria-controls="multiCollapseExample1" style="text-decoration:none;color:black;" onclick="doit()">
                <h6 style="display:inline;">Acne</h6>
              </a>

              <div class="collapse multi-collapse" id="multiCollapseExample1" style="padding-top:4px;">
                <div style="padding: 4px 0px;">
                  <div class="custom-control custom-switch" style="display:inline;">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1"></label>
                  </div>
                  <a href="acne-diet">
                    Acne & Diet
                  </a>
                  |
                  <a href="edit-content.html">
                    Edit
                  </a>
                  |
                  <a href="add-tips-and-wisdom.html">
                    Add Tips & Wisdom
                  </a>
                  |
                  Source: American Heart Association

                </div>

                <div style="padding: 4px 0px;">

                  <div class="custom-control custom-switch" style="display:inline;">
                    <input type="checkbox" class="custom-control-input" id="customSwitch2">
                    <label class="custom-control-label" for="customSwitch2"></label>
                  </div>
                  <a href="acne-diet">
                    Acne & Diet
                  </a>
                  |
                  <a href="edit-content.html">
                    Edit
                  </a>
                  |
                  <a href="add-tips-and-wisdom.html">
                    Add Tips & Wisdom
                  </a>
                  |
                  Source: American Heart Association

                </div>

                <div style="padding: 4px 0px;">

                  <div class="custom-control custom-switch" style="display:inline;">
                    <input type="checkbox" class="custom-control-input" id="customSwitch3">
                    <label class="custom-control-label" for="customSwitch3"></label>
                  </div>
                  <a href="acne-diet">
                    Acne & Diet
                  </a>
                  |
                  <a href="edit-content.html">
                    Edit
                  </a>
                  |
                  <a href="add-tips-and-wisdom.html">
                    Add Tips & Wisdom
                  </a>
                  |
                  Source: American Heart Association


                </div>

              </div> <!-- multi-collapse -->
            </div>

          </div>
          <hr>

        </div> <!-- box -->

        <div class="box2">
            <h4>
                Toolkit URL
              </h4>
    
              <div class="form-group">
                  <input type="text" class="form-control url" value="akronderm" onchange="update()" />
                  <div>
                    <a href="#" target="_blank" class="href-target">
                      https://www.vivacare.com/<span class="target"></span>
                    </a>
                  </div>
              </div>
    
              <script>
                function update () {
                  let val = $('.url').val();
                  $('.target').text( val )
                  $('.href-target').attr('href', "https://www.vivacare.com/" + val);
    
                }
    
                setTimeout( update )
              </script>
    
              <button class="btn btn-primary">
                Save
              </button>
        </div>


      </div> <!-- col-sm-8 -->

      <div class="col">
      </div>
    </div>
  </div>

</div>