<div class="registration">
	<div class="container">
		<div class="row justify-content-center">

			<div class="col-sm-12 col-md-10">
				<div class="box2">
					<h1>
						Update My Profile
					</h1>

					<hr>
					<div class="row" style="margin-bottom:12px;">
						<div class="col-sm-12 col-md-6">
							<h4>
								Personal
							</h4>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="first-name">
								<label class="form-check-label" for="first-name">
									First Name
								</label>
							</div>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="middle-name">
								<label class="form-check-label" for="middle-name">
									Middle Name
								</label>
							</div>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="last-name">
								<label class="form-check-label" for="last-name">
									Last Name
								</label>
							</div>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="suffix">
								<label class="form-check-label" for="suffix">
									Suffix
								</label>
							</div>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="profile-image">
								<label class="form-check-label" for="profile-image">
									Profile Image
								</label>
							</div>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="profession">
								<label class="form-check-label" for="profession">
									Profession
								</label>
							</div>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="specialty">
								<label class="form-check-label" for="specialty">
									Specialty
								</label>
							</div>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="about-you">
								<label class="form-check-label" for="about-you">
									About You
								</label>
							</div>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="professional-affiliations">
								<label class="form-check-label" for="professional-affiliations">
									Professional Affiliations
								</label>
							</div>
						</div>

						<div class="col-sm-12 col-md-6">
							<h4>
								Practice
							</h4>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="practice-name">
								<label class="form-check-label" for="practice-name">
									Practice Name
								</label>
							</div>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="display-name">
								<label class="form-check-label" for="display-name">
									Display Name
								</label>
							</div>


							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="phone-#">
								<label class="form-check-label" for="phone-#">
									Phone # For Scheduling Appointments
								</label>
							</div>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="public-email">
								<label class="form-check-label" for="public-email">
									Public Email For Inquiries & Appointments
								</label>
							</div>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="practice-logo">
								<label class="form-check-label" for="practice-logo">
									Practice Logo
								</label>
							</div>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="staff">
								<label class="form-check-label" for="staff">
									Staff
								</label>
							</div>


							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="locations">
								<label class="form-check-label" for="locations">
									Locations
								</label>
							</div>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="practice-website-url">
								<label class="form-check-label" for="practice-website-url">
									Practice Website URL
								</label>
							</div>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="patient-portal">
								<label class="form-check-label" for="patient-portal">
									Patient Portal URL
								</label>
							</div>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="facebook">
								<label class="form-check-label" for="facebook">
									Practice Facebook URL
								</label>
							</div>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="twitter">
								<label class="form-check-label" for="twitter">
									Practice Twitter URL
								</label>
							</div>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="about">
								<label class="form-check-label" for="about">
									About
								</label>
							</div>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="insurance">
								<label class="form-check-label" for="insurance">
									Insurance
								</label>
							</div>
						</div>
					</div>
					<hr>

					<div class="btn btn-primary">
						Send Request To Vivacare
					</div>
				</div>


			</div> <!-- box -->
		</div> <!-- col-sm-8 -->

	</div>

</div>